In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline 
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
MF_df = pd.read_csv('processed_datasets/philadelphia/Predictions/MF_preds.csv', index_col = 0)
MF_df.head()

,--OS_I7dnABrXvRCCuWOGQ,--sXnWH9Xm6_NvIjyuA99w,-0TffRSXXIlBYVbb5AwfTg,-1B9pP_CrRBJYPICE5WbRA,-1DxQ1CxSc_JCxzKm9bglg,-3ArWZfDjfab8qVHf3WVtg,-3e3CP3FFc-rvJj_-_airw,-3m_nXlyvdKAVNNmVirpGQ,-5Rah4ZvWsDu4oilUZxhtw,-63ytt5vkWof-M9NDGTkng,...,zuKnCtZQKZqnvEaKVnwVVQ,zucC7rHpXPYBu7aEqj0NUw,zujdPV3HT-Y-CKE1GgkMHQ,zvvl3c1FO3O3BZdhusficA,zwTmOj4B_OVPMTMYijQiKg,zwd4dyQ5ovnjVojWfAuhMw,zxRmQ_FWVowh8rlzLCSURQ,zxY4DgtXsVHihSUpsmwamg,zy2p8yfx_fgXMCCUo8nWsA,zz3E7kmJI2r2JseE6LAnrw
user_id,,,,,,,,,,,,,,,,,,,,,
3pdEpfdwA-ghzfIp4NJoqQ,6.605099,6.203758,6.662571,2.436554,2.810569,3.704794,12.902833,4.619560,5.727319,6.293331,...,0.728984,3.090183,7.293343,2.247411,5.746301,6.888609,5.373648,5.684458,6.142376,5.335776
JvUPonIfl51OeVVlKZ4Fmw,4.532530,6.248716,4.502453,6.543677,-0.281988,1.728430,3.717120,-8.299750,4.077200,-1.737244,...,8.030837,9.427103,2.537905,7.987659,5.596088,3.797871,2.320042,2.658601,3.031858,3.304668
-zFn-szI6fDgZiCHg4C4zA,6.650410,7.079914,6.213435,6.176139,2.866738,4.374796,2.246688,5.739185,5.247503,3.748585,...,2.374433,6.629349,5.183294,3.649469,5.723973,4.977187,5.507734,5.481328,5.088208,5.642713
b9HV74ZB2neuy51hWstUGQ,5.613116,7.380657,5.481412,5.568923,3.337066,3.516653,6.349706,2.419906,5.014742,3.099023,...,0.949967,5.522765,5.965437,2.383272,4.747219,6.257563,5.181343,5.337544,5.642827,4.203920
w9b3RcwGfHP-hvGFso-ADg,4.776284,5.555644,4.616977,4.486535,6.360062,4.295234,-1.612553,3.196234,5.837688,4.153865,...,-0.838027,5.848275,5.428290,8.014042,2.585998,4.386593,6.979023,6.259286,5.319007,4.949652

In [6]:
df = MF_df.clip(lower=0, upper=6)

In [8]:
df.shape

(10000, 5078)

In [9]:
df.head()

,--OS_I7dnABrXvRCCuWOGQ,--sXnWH9Xm6_NvIjyuA99w,-0TffRSXXIlBYVbb5AwfTg,-1B9pP_CrRBJYPICE5WbRA,-1DxQ1CxSc_JCxzKm9bglg,-3ArWZfDjfab8qVHf3WVtg,-3e3CP3FFc-rvJj_-_airw,-3m_nXlyvdKAVNNmVirpGQ,-5Rah4ZvWsDu4oilUZxhtw,-63ytt5vkWof-M9NDGTkng,...,zuKnCtZQKZqnvEaKVnwVVQ,zucC7rHpXPYBu7aEqj0NUw,zujdPV3HT-Y-CKE1GgkMHQ,zvvl3c1FO3O3BZdhusficA,zwTmOj4B_OVPMTMYijQiKg,zwd4dyQ5ovnjVojWfAuhMw,zxRmQ_FWVowh8rlzLCSURQ,zxY4DgtXsVHihSUpsmwamg,zy2p8yfx_fgXMCCUo8nWsA,zz3E7kmJI2r2JseE6LAnrw
user_id,,,,,,,,,,,,,,,,,,,,,
3pdEpfdwA-ghzfIp4NJoqQ,6.000000,6.000000,6.000000,2.436554,2.810569,3.704794,6.000000,4.619560,5.727319,6.000000,...,0.728984,3.090183,6.000000,2.247411,5.746301,6.000000,5.373648,5.684458,6.000000,5.335776
JvUPonIfl51OeVVlKZ4Fmw,4.532530,6.000000,4.502453,6.000000,0.000000,1.728430,3.717120,0.000000,4.077200,0.000000,...,6.000000,6.000000,2.537905,6.000000,5.596088,3.797871,2.320042,2.658601,3.031858,3.304668
-zFn-szI6fDgZiCHg4C4zA,6.000000,6.000000,6.000000,6.000000,2.866738,4.374796,2.246688,5.739185,5.247503,3.748585,...,2.374433,6.000000,5.183294,3.649469,5.723973,4.977187,5.507734,5.481328,5.088208,5.642713
b9HV74ZB2neuy51hWstUGQ,5.613116,6.000000,5.481412,5.568923,3.337066,3.516653,6.000000,2.419906,5.014742,3.099023,...,0.949967,5.522765,5.965437,2.383272,4.747219,6.000000,5.181343,5.337544,5.642827,4.203920
w9b3RcwGfHP-hvGFso-ADg,4.776284,5.555644,4.616977,4.486535,6.000000,4.295234,0.000000,3.196234,5.837688,4.153865,...,0.000000,5.848275,5.428290,6.000000,2.585998,4.386593,6.000000,6.000000,5.319007,4.949652

In [10]:
res_df = pd.read_csv('processed_datasets/restaurants_new.csv')

In [11]:
res_df.head()

,ID,Restaurant,1,2,3,4,5,6,7,8,...,37,38,39,40,41,42,43,44,45,46
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,UJsufbvfyfONHeWdvAHKjA,Marshalls,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
res_df.shape

(53052, 48)

In [13]:
res_philli = pd.read_csv('processed_datasets/philadelphia/restuarants_philli.csv')
res_philli.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,GoodForDancing,BestNights,BYOB,Corkage,BYOBCorkage,AcceptsInsurance,RestaurantsCounterService,Open24Hours,AgesAllowed,DietaryRestrictions
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106.0,39.953949,-75.143226,4.0,245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147.0,39.943223,-75.162568,4.5,205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123.0,39.962582,-75.135657,3.5,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,Philadelphia,PA,19104.0,39.954573,-75.194894,3.0,56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
res_philli.shape

(5078, 51)

In [15]:
final_res = pd.merge(res_philli, res_df, left_on=['business_id'], right_on=['ID'], how='inner')

In [16]:
final_res.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,37,38,39,40,41,42,43,44,45,46
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,...,0,0,0,0,0,0,0,0,0,0
1,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106.0,39.953949,-75.143226,4.0,245,...,0,0,0,0,0,0,0,0,0,0
2,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147.0,39.943223,-75.162568,4.5,205,...,0,0,0,0,0,0,0,0,0,0
3,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123.0,39.962582,-75.135657,3.5,65,...,0,0,0,0,0,0,0,0,0,0
4,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,Philadelphia,PA,19104.0,39.954573,-75.194894,3.0,56,...,0,0,0,0,0,0,0,0,0,0

In [17]:
final_res.shape

(5078, 99)

In [18]:
final_res.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'categories', 'hours', 'RestaurantsDelivery', 'OutdoorSeating',
       'BusinessAcceptsCreditCards', 'BusinessParking', 'BikeParking',
       'RestaurantsPriceRange2', 'RestaurantsTakeOut', 'ByAppointmentOnly',
       'WiFi', 'Alcohol', 'Caters', 'WheelchairAccessible', 'GoodForKids',
       'RestaurantsAttire', 'RestaurantsReservations', 'Ambience', 'CoatCheck',
       'DogsAllowed', 'RestaurantsTableService', 'RestaurantsGoodForGroups',
       'HasTV', 'HappyHour', 'DriveThru', 'GoodForMeal', 'NoiseLevel',
       'BusinessAcceptsBitcoin', 'Smoking', 'Music', 'GoodForDancing',
       'BestNights', 'BYOB', 'Corkage', 'BYOBCorkage', 'AcceptsInsurance',
       'RestaurantsCounterService', 'Open24Hours', 'AgesAllowed',
       'DietaryRestrictions', 'ID', 'Restaurant', '1', '2', '3', '4', '5', '6',
       '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30',
       '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42',
       '43', '44', '45', '46'],
      dtype='object')

In [19]:
# Features to include 
#['1', '4', '5', '6', '7', '8', '11','12', '16', '20', '21', '25', '26', '29', '43']

In [21]:
feature_df = final_res[['business_id', 'name', 'address', 'postal_code', 'stars', 'review_count', '1', '4', '5', '6', '7', '8', '11','12', '16', '20', '21', '25', '26', '29', '43']]

In [28]:
feature_df.head()

,business_id,name,address,postal_code,stars,review_count,1,4,5,6,...,8,11,12,16,20,21,25,26,29,43
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,19107.0,4.0,80,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,19106.0,4.0,245,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,19147.0,4.5,205,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,19123.0,3.5,65,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,19104.0,3.0,56,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0

In [38]:
feature_df.shape

(5078, 21)

### Creating a dataframe with each user, and his top rated 50 restaurants

In [41]:
filtered_df = df.where(df > 3.5)

# Get all businesses rated above 3.5 for each user
top_businesses = filtered_df.apply(lambda x: x.dropna().index.tolist(), axis=1)

# Create the DataFrame
top_rated = pd.DataFrame({
    'user_id': top_businesses.index,
    'top_businesses': top_businesses.values
})

top_rated.head()

                  user_id                                     top_businesses
0  3pdEpfdwA-ghzfIp4NJoqQ  [--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99...
1  JvUPonIfl51OeVVlKZ4Fmw  [--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99...
2  -zFn-szI6fDgZiCHg4C4zA  [--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99...
3  b9HV74ZB2neuy51hWstUGQ  [--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99...
4  w9b3RcwGfHP-hvGFso-ADg  [--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99...

In [42]:
top_rated.shape

(10000, 2)

In [45]:
top_50_businesses_overall = feature_df.sort_values(by='stars', ascending=False).head(1000)
top_50_business_ids = top_50_businesses_overall['business_id'].tolist()

In [47]:
new_user_row = pd.DataFrame({
    'user_id': ['new_user'],
    'top_businesses': [top_50_business_ids]
})
top_rated = top_rated.append(new_user_row, ignore_index=True)

In [49]:
top_rated

,user_id,top_businesses
0,3pdEpfdwA-ghzfIp4NJoqQ,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
1,JvUPonIfl51OeVVlKZ4Fmw,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
2,-zFn-szI6fDgZiCHg4C4zA,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
3,b9HV74ZB2neuy51hWstUGQ,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
4,w9b3RcwGfHP-hvGFso-ADg,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
...,...,...
9996,BzkD13Tp6_l-gbDqbycdNQ,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
9997,ei8X5pyCur3d0CGb5EbnFA,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
9998,N8UuMAuC2qBTjVgbBJ5F5Q,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
9999,08V34sb6sPwdN97RzRXCNg,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
10000,new_user,"[YSq-EslYR6q7_C6eqMtBrQ, kG7VAFl67L0syjVhjYj5Z..."

In [57]:
df.to_pickle('processed_datasets/philadelphia/Final_Datasets/df.pkl')        
top_rated.to_pickle('processed_datasets/philadelphia/Final_Datasets/top_rated.pkl')   
feature_df.to_pickle('processed_datasets/philadelphia/Final_Datasets/feature_df.pkl')

# Testing on various Ranking Functions

In [ ]:
user_preferences = {
    'DN7mB9u36QlCourhzbRq7A': [20, 29, 40, 8, 1, 7, 16, 27, 29, 40, 43],
    'I6M-7LxI1By6jd8H_OneeQ': [8, 20, 35, 1, 7, 16],
    'UkBI4VW3CwLvIgXaiiLdig': [25, 7, 26, 8, 43]
}

## Cosine Similarity

In [62]:
preference_vector = np.zeros(46) 
for prefs in user_preferences.values():
    for feature in prefs:
        preference_index = int(feature)
        preference_vector[preference_index] += 1

original_indices = [1, 4, 5, 6, 7, 8, 11, 12, 16, 20, 21, 25, 26, 29, 43]        
preference_vector = preference_vector[original_indices]

# Normalize preference vector to weight preferences proportionally
preference_vector /= max(preference_vector)

# Combine top rated restaurants from all users
all_top_businesses = set()
for user_id in user_preferences.keys():
    if user_id in top_rated['user_id'].values:
        user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
    else:
        print(f"No data available for user_id {user_id}")
        user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
    all_top_businesses.update(user_top_businesses)

print("Before: ", len(all_top_businesses))

valid_businesses = set()
for business in all_top_businesses:
    is_valid = True
    for user_id in user_preferences: 
        if user_id in df.index:
            if pd.notna(df.at[user_id, business]) and df.at[user_id, business] < 3.5:
                is_valid = False
                break
    if is_valid:
        valid_businesses.add(business)

print("After: ", len(valid_businesses))
# Filter the restaurant DataFrame to these combined top businesses
filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]

# Construct a feature matrix from these restaurants
feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
restaurant_features = filtered_restaurants[feature_columns].to_numpy()

# Compute cosine similarity between aggregated user preference vector and each restaurant's features
similarities = cosine_similarity([preference_vector], restaurant_features)[0]

# Get the indices of the top 5 matching restaurants
top_5_indices = np.argsort(similarities)[-5:][::-1]

# Output the top 5 matches
print("\nTop 5 matches based on aggregated user preferences: \n")
for index in top_5_indices:
    best_match = filtered_restaurants.iloc[index]
    similarity_score = similarities[index]
    print("Business ID: ", best_match['business_id'])
    print("Name: ", best_match['name'])
    print("Address: ", best_match['address'], best_match.get('postal_code', ''))
    print("Similarity Score: {:.4f}".format(similarity_score))
    print()

Before:  4690
After:  2143

Top 5 matches based on aggregated user preferences:

Business ID:  YDisPepPeWeELiVGycxOlw
Name:  Gojjo Bar & Restaurant
Address:  4540 Baltimore Ave 19143.0
Similarity Score: 0.7906

Business ID:  3StCmEw7AhBdHKIEkckGeA
Name:  Paprika Restaurant
Address:  4167 Germantown Ave 19140.0
Similarity Score: 0.7906

Business ID:  KHQXmUFiAD0FHvrMSakJBA
Name:  Fare
Address:  2028 Fairmount Ave 19130.0
Similarity Score: 0.7778

Business ID:  4tU9hlfzrCpcGWTIm-OKVA
Name:  Rouge
Address:  205 S 18th St 19103.0
Similarity Score: 0.7778

Business ID:  SDL247FlOnScJfuNjZESxg
Name:  Twenty Manning
Address:  261 S 20th St 19103.0
Similarity Score: 0.7746

## Pearson Correlation Coefficient

In [65]:
from scipy.stats import pearsonr

def predict_restaurant(user_preferences, top_rated, df, feature_df):
    
    preference_vector = np.zeros(46) 
    for prefs in user_preferences.values():
        for feature in prefs:
            preference_index = int(feature)
            preference_vector[preference_index] += 1

    original_indices = [1, 4, 5, 6, 7, 8, 11, 12, 16, 20, 21, 25, 26, 29, 43]        
    preference_vector = preference_vector[original_indices]
    # Normalize preference vector to weight preferences proportionally
    preference_vector /= max(preference_vector)
    all_top_businesses = set()
    for user_id in user_preferences.keys():
        if user_id in top_rated['user_id'].values:
            user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
        else:
            print(f"No data available for user_id {user_id}")
            user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
        all_top_businesses.update(user_top_businesses)
        
    valid_businesses = set()
    for business in all_top_businesses:
        is_valid = True
        for user_id in user_preferences: 
            if user_id in df.index:
                if pd.notna(df.at[user_id, business]) and df.at[user_id, business] < 3.5:
                    is_valid = False
                    break
        if is_valid:
            valid_businesses.add(business)
    
    filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]

    # Construct a feature matrix from these restaurants
    feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
    restaurant_features = filtered_restaurants[feature_columns].to_numpy()
    
    def pearson_similarity(vector1, matrix):
        similarities = []
        for features in matrix:
            if np.all(features == 0) or np.all(vector1 == 0):
                similarities.append(0)  # Handle cases where vectors have no variance
            else:
                corr, _ = pearsonr(vector1, features)
                similarities.append(corr)
        return similarities
    
    
    
    similarities = pearson_similarity(preference_vector, restaurant_features)
    
    # similarities = cosine_similarity([preference_vector], restaurant_features)[0]

    # Get the indices of the top 5 matching restaurants
    top_5_indices = np.argsort(similarities)[-5:][::-1]

    # Output the top 5 matches
    print("\nTop 5 matches based on aggregated user preferences: \n")
    for index in top_5_indices:
        best_match = filtered_restaurants.iloc[index]
        similarity_score = similarities[index]
        print("Business ID: ", best_match['business_id'])
        print("Name: ", best_match['name'])
        print("Address: ", best_match['address'], best_match.get('postal_code', ''))
        print("Similarity Score: {:.4f}".format(similarity_score))
        print()

In [67]:
predict_restaurant(user_preferences, top_rated, df, feature_df)

Top 5 matches based on aggregated user preferences:

Business ID:  3StCmEw7AhBdHKIEkckGeA
Name:  Paprika Restaurant
Address:  4167 Germantown Ave 19140.0
Similarity Score: 0.7078

Business ID:  YDisPepPeWeELiVGycxOlw
Name:  Gojjo Bar & Restaurant
Address:  4540 Baltimore Ave 19143.0
Similarity Score: 0.7078

Business ID:  hc11CyeADoC4NhPzStObUQ
Name:  Lian Hsing's
Address:  1633 W Reed St 19146.0
Similarity Score: 0.6621

Business ID:  8GTViyjR-lBVuZZLfcVx6Q
Name:  Star Fusion Express
Address:  5178 Parkside Ave 19131.0
Similarity Score: 0.6621

Business ID:  4EXm70lqkCxZ-WtgNon8sw
Name:  Gabriella's Vietnam
Address:  1837 E Passyunk Ave 19148.0
Similarity Score: 0.6621

## Binary BM25

In [70]:
def binary_bm25(restaurant_features, user_prefs_vector, k1=1.5, b=0.75):
    # Calculate document lengths for the BM25 length normalization
    doc_lengths = np.sum(restaurant_features, axis=1)
    avg_doc_length = np.mean(doc_lengths)
    
    # Calculate IDF for each feature in user preferences
    N = restaurant_features.shape[0]
    df = np.sum(restaurant_features, axis=0)
    idf = np.log((N - df + 0.5) / (df + 0.5) + 1)  # Added 1 to prevent negative values
    
    # Apply the binary BM25 formula
    tf = restaurant_features * user_prefs_vector  # binary TF (either 0 or 1)
    # Adjust tf calculation for proper broadcasting
    tf = (tf * (k1 + 1)) / (tf + k1 * (1 - b + b * (doc_lengths[:, np.newaxis] / avg_doc_length)))
    bm25_scores = np.sum(tf * idf, axis=1)  # Element-wise multiplication with idf
    
    return bm25_scores

def predict_restaurant(user_preferences, top_rated, df, feature_df):
    # Assuming binary features are already calculated
    # preference_vector and other code setup remains as previously defined
    
    # Convert user preferences into a binary preference vector
    user_prefs_vector = np.zeros(46)
    for prefs in user_preferences.values():
        for feature in prefs:
            preference_index = int(feature)
            user_prefs_vector[preference_index] = 1  # Binary preference

    original_indices = [1, 4, 5, 6, 7, 8, 11, 12, 16, 20, 21, 25, 26, 29, 43]        
    user_prefs_vector = user_prefs_vector[original_indices]

    all_top_businesses = set()
    for user_id in user_preferences.keys():
        if user_id in top_rated['user_id'].values:
            user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
        else:
            print(f"No data available for user_id {user_id}")
            user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
        all_top_businesses.update(user_top_businesses)
        
    valid_businesses = set()
    for business in all_top_businesses:
        is_valid = True
        for user_id in user_preferences: 
            if user_id in df.index:
                if pd.notna(df.at[user_id, business]) and df.at[user_id, business] < 3.5:
                    is_valid = False
                    break
        if is_valid:
            valid_businesses.add(business)
    
    filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]
    # Construct a feature matrix from these restaurants
    feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
    restaurant_features = filtered_restaurants[feature_columns].to_numpy()

    # Compute BM25 scores
    bm25_scores = binary_bm25(restaurant_features, user_prefs_vector)
    
    # Get the indices of the top 5 matching restaurants
    top_5_indices = np.argsort(bm25_scores)[-5:][::-1]

    # Output the top 5 matches
    print("\nTop 5 matches based on aggregated user preferences: \n")
    for index in top_5_indices:
        best_match = filtered_restaurants.iloc[index]
        similarity_score = bm25_scores[index]
        print("Business ID: ", best_match['business_id'])
        print("Name: ", best_match['name'])
        print("Address: ", best_match['address'], best_match.get('postal_code', ''))
        print("Similarity Score: {:.4f}".format(similarity_score))
        print()

In [72]:
predict_restaurant(user_preferences, top_rated, df, feature_df)

Top 5 matches based on aggregated user preferences:

Business ID:  KYPhGJIibu_7ePIX4HNs6A
Name:  48th Street Grille
Address:  310 S 48th St 19143.0
Similarity Score: 6.4973

Business ID:  jLDwSeoQ_kDQwhnUJQO2yw
Name:  Sansom Kabob House
Address:  1300 South St 19147.0
Similarity Score: 6.3518

Business ID:  EPMHuTHu46B123ivRIZ-Xg
Name:  Magic Carpet
Address:  34th & Walnut St 19176.0
Similarity Score: 6.1822

Business ID:  PZ9gjIi-x6B9_DbSiFT65Q
Name:  Keshas Kitchen
Address:  1621 Orthodox St 19124.0
Similarity Score: 6.0645

Business ID:  owa7WsRu__bm-UYK6KRVkg
Name:  Bombay Dhabba - Philadelphia
Address:  3601 Market St 19104.0
Similarity Score: 5.9572

## Jaccard Similarity

In [75]:
def jaccard_similarity(vector1, matrix):
    # Ensure binary representation (0s and 1s only)
    vector1 = np.clip(vector1, 0, 1)
    matrix = np.clip(matrix, 0, 1)
    
    intersection = np.logical_and(matrix, vector1).sum(axis=1)
    union = np.logical_or(matrix, vector1).sum(axis=1)
    similarity = intersection / union
    return similarity

def predict_restaurant(user_preferences, top_rated, df, feature_df):
    
    preference_vector = np.zeros(46) 
    for prefs in user_preferences.values():
        for feature in prefs:
            preference_index = int(feature)
            preference_vector[preference_index] += 1

    original_indices = [1, 4, 5, 6, 7, 8, 11, 12, 16, 20, 21, 25, 26, 29, 43]        
    preference_vector = preference_vector[original_indices]
    # Normalize preference vector to weight preferences proportionally
    preference_vector /= max(preference_vector)
    all_top_businesses = set()
    for user_id in user_preferences.keys():
        if user_id in top_rated['user_id'].values:
            user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
        else:
            print(f"No data available for user_id {user_id}")
            user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
        all_top_businesses.update(user_top_businesses)
        
    valid_businesses = set()
    for business in all_top_businesses:
        is_valid = True
        for user_id in user_preferences: 
            if user_id in df.index:
                if pd.notna(df.at[user_id, business]) and df.at[user_id, business] < 3.5:
                    is_valid = False
                    break
        if is_valid:
            valid_businesses.add(business)
    
    filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]

    # Construct a feature matrix from these restaurants
    feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
    restaurant_features = filtered_restaurants[feature_columns].to_numpy()    
    
    similarities = jaccard_similarity(preference_vector, restaurant_features)
    
    # similarities = cosine_similarity([preference_vector], restaurant_features)[0]

    # Get the indices of the top 5 matching restaurants
    top_5_indices = np.argsort(similarities)[-5:][::-1]

    # Output the top 5 matches
    print("\nTop 5 matches based on aggregated user preferences: \n")
    for index in top_5_indices:
        best_match = filtered_restaurants.iloc[index]
        similarity_score = similarities[index]
        print("Business ID: ", best_match['business_id'])
        print("Name: ", best_match['name'])
        print("Address: ", best_match['address'], best_match.get('postal_code', ''))
        print("Similarity Score: {:.4f}".format(similarity_score))
        print()

In [77]:
predict_restaurant(user_preferences, top_rated, df, feature_df)

Top 5 matches based on aggregated user preferences:

Business ID:  suu00nBOfDsTOjSm_WtV8A
Name:  Malooga
Address:  134 Chestnut St 19106.0
Similarity Score: 0.5556

Business ID:  ZKPrXH_GNW_AtZ31tP3NmA
Name:  White Dog Cafe
Address:  3420 Sansom St 19104.0
Similarity Score: 0.5556

Business ID:  4tU9hlfzrCpcGWTIm-OKVA
Name:  Rouge
Address:  205 S 18th St 19103.0
Similarity Score: 0.5556

Business ID:  KHQXmUFiAD0FHvrMSakJBA
Name:  Fare
Address:  2028 Fairmount Ave 19130.0
Similarity Score: 0.5556

Business ID:  SDL247FlOnScJfuNjZESxg
Name:  Twenty Manning
Address:  261 S 20th St 19103.0
Similarity Score: 0.5000

**Using Cosine Similarity to Rank Restaurants, as it performed the best based on our intuition**

# Final Inference Code

In [80]:
df = pd.read_pickle('processed_datasets/philadelphia/Final_Datasets/df.pkl')              
top_rated = pd.read_pickle('processed_datasets/philadelphia/Final_Datasets/top_rated.pkl')
feature_df = pd.read_pickle('processed_datasets/philadelphia/Final_Datasets/feature_df.pkl')

In [82]:
user_preferences = {
    'DN7mB9u36QlCourhzbRq7A': [20, 29, 40, 8, 1, 7, 16, 27, 29, 40, 43],
    'I6M-7LxI1By6jd8H_OneeQ': [8, 20, 35, 1, 7, 16],
    'UkBI4VW3CwLvIgXaiiLdig': [25, 7, 26, 8, 43]
}

In [84]:
def predict_restaurant(user_preferences, top_rated, df, feature_df):
    
    preference_vector = np.zeros(46) 
    for prefs in user_preferences.values():
        for feature in prefs:
            preference_index = int(feature)
            preference_vector[preference_index] += 1

    original_indices = [1, 4, 5, 6, 7, 8, 11, 12, 16, 20, 21, 25, 26, 29, 43]        
    preference_vector = preference_vector[original_indices]
    # Normalize preference vector to weight preferences proportionally
    preference_vector /= max(preference_vector)
    all_top_businesses = set()
    for user_id in user_preferences.keys():
        if user_id in top_rated['user_id'].values:
            user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
        else:
            print(f"No data available for user_id {user_id}")
            user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
        all_top_businesses.update(user_top_businesses)
        
    valid_businesses = set()
    for business in all_top_businesses:
        is_valid = True
        for user_id in user_preferences: 
            if user_id in df.index:
                if pd.notna(df.at[user_id, business]) and df.at[user_id, business] < 3.5:
                    is_valid = False
                    break
        if is_valid:
            valid_businesses.add(business)
    
    filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]

    # Construct a feature matrix from these restaurants
    feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
    restaurant_features = filtered_restaurants[feature_columns].to_numpy()

    # Compute cosine similarity between aggregated user preference vector and each restaurant's features
    similarities = cosine_similarity([preference_vector], restaurant_features)[0]

    index = np.argmax(similarities)
    best_match = filtered_restaurants.iloc[index]
    similarity_score = similarities[index]
    
    return {'Name': best_match['name'], 
            'Business_id' : best_match['business_id'],
            'Address': best_match.get('address', '') + str(best_match.get('postal_code', '')),
            'Similarity_Score':  similarity_score}

In [86]:
predict_restaurant(user_preferences, top_rated, df, feature_df)

{'Name': 'Gojjo Bar & Restaurant',
 'Business_id': 'YDisPepPeWeELiVGycxOlw',
 'Address': '4540 Baltimore Ave19143.0',
 'Similarity_Score': 0.7905694150420948}