In [2]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline 
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

**As MF with tunable Bias performed the best on the dataset, we are using the ratings matrix predicted by that model**

In [8]:
MF_df = pd.read_csv('processed_datasets/philadelphia/Predictions/MF_with_Bias_preds.csv', index_col = 0)
MF_df.head()

,--OS_I7dnABrXvRCCuWOGQ,--sXnWH9Xm6_NvIjyuA99w,-0TffRSXXIlBYVbb5AwfTg,-1B9pP_CrRBJYPICE5WbRA,-1DxQ1CxSc_JCxzKm9bglg,-3ArWZfDjfab8qVHf3WVtg,-3e3CP3FFc-rvJj_-_airw,-3m_nXlyvdKAVNNmVirpGQ,-5Rah4ZvWsDu4oilUZxhtw,-63ytt5vkWof-M9NDGTkng,...,zuKnCtZQKZqnvEaKVnwVVQ,zucC7rHpXPYBu7aEqj0NUw,zujdPV3HT-Y-CKE1GgkMHQ,zvvl3c1FO3O3BZdhusficA,zwTmOj4B_OVPMTMYijQiKg,zwd4dyQ5ovnjVojWfAuhMw,zxRmQ_FWVowh8rlzLCSURQ,zxY4DgtXsVHihSUpsmwamg,zy2p8yfx_fgXMCCUo8nWsA,zz3E7kmJI2r2JseE6LAnrw
user_id,,,,,,,,,,,,,,,,,,,,,
65uUi6-TEmNcmbH-XvlyGQ,7.697486,6.094583,5.579010,5.367571,3.927949,5.821194,4.516660,1.943403,4.704101,4.949513,...,3.350755,7.822580,5.353392,0.467106,3.810022,5.094233,4.291175,5.871743,6.475960,3.860731
GQCW_UjR4bMefVRQ5zenfg,6.984949,6.306809,4.593185,3.993516,2.854866,5.954576,7.410799,2.368294,6.355762,6.582716,...,4.310292,5.625026,5.654260,4.422291,4.318956,5.327646,4.537064,5.455603,5.402908,3.076840
FMzoAk8gxKc2f5WHjntjWg,6.777211,4.821145,4.987900,5.894934,3.834740,4.625487,1.888198,1.010888,4.757001,4.742419,...,2.873384,3.880559,5.477119,2.871462,3.159641,6.546816,3.728818,5.122364,6.211509,4.230569
bFNn1jLP8bC_stWDEnhzuw,5.941776,5.630107,4.851082,2.774826,2.705371,5.452926,6.441438,1.542948,4.056451,5.356486,...,4.282152,6.142256,5.297861,2.553882,5.107179,3.341615,5.688055,4.622614,3.879946,2.789552
tfFBi12JKJHdYc8jbHMO1A,5.918926,5.219432,5.370075,5.630970,4.585958,5.044476,1.383046,0.906344,3.487129,3.094519,...,3.169224,3.581812,5.710108,-1.097753,4.554953,5.347192,5.177285,5.185166,5.572668,4.809379

In [10]:
df = MF_df.clip(lower=0, upper=6)

In [12]:
df.shape

(10000, 5078)

In [14]:
df.head()

,--OS_I7dnABrXvRCCuWOGQ,--sXnWH9Xm6_NvIjyuA99w,-0TffRSXXIlBYVbb5AwfTg,-1B9pP_CrRBJYPICE5WbRA,-1DxQ1CxSc_JCxzKm9bglg,-3ArWZfDjfab8qVHf3WVtg,-3e3CP3FFc-rvJj_-_airw,-3m_nXlyvdKAVNNmVirpGQ,-5Rah4ZvWsDu4oilUZxhtw,-63ytt5vkWof-M9NDGTkng,...,zuKnCtZQKZqnvEaKVnwVVQ,zucC7rHpXPYBu7aEqj0NUw,zujdPV3HT-Y-CKE1GgkMHQ,zvvl3c1FO3O3BZdhusficA,zwTmOj4B_OVPMTMYijQiKg,zwd4dyQ5ovnjVojWfAuhMw,zxRmQ_FWVowh8rlzLCSURQ,zxY4DgtXsVHihSUpsmwamg,zy2p8yfx_fgXMCCUo8nWsA,zz3E7kmJI2r2JseE6LAnrw
user_id,,,,,,,,,,,,,,,,,,,,,
65uUi6-TEmNcmbH-XvlyGQ,6.000000,6.000000,5.579010,5.367571,3.927949,5.821194,4.516660,1.943403,4.704101,4.949513,...,3.350755,6.000000,5.353392,0.467106,3.810022,5.094233,4.291175,5.871743,6.000000,3.860731
GQCW_UjR4bMefVRQ5zenfg,6.000000,6.000000,4.593185,3.993516,2.854866,5.954576,6.000000,2.368294,6.000000,6.000000,...,4.310292,5.625026,5.654260,4.422291,4.318956,5.327646,4.537064,5.455603,5.402908,3.076840
FMzoAk8gxKc2f5WHjntjWg,6.000000,4.821145,4.987900,5.894934,3.834740,4.625487,1.888198,1.010888,4.757001,4.742419,...,2.873384,3.880559,5.477119,2.871462,3.159641,6.000000,3.728818,5.122364,6.000000,4.230569
bFNn1jLP8bC_stWDEnhzuw,5.941776,5.630107,4.851082,2.774826,2.705371,5.452926,6.000000,1.542948,4.056451,5.356486,...,4.282152,6.000000,5.297861,2.553882,5.107179,3.341615,5.688055,4.622614,3.879946,2.789552
tfFBi12JKJHdYc8jbHMO1A,5.918926,5.219432,5.370075,5.630970,4.585958,5.044476,1.383046,0.906344,3.487129,3.094519,...,3.169224,3.581812,5.710108,0.000000,4.554953,5.347192,5.177285,5.185166,5.572668,4.809379

In [16]:
res_df = pd.read_csv('processed_datasets/restaurants_new.csv')

In [18]:
res_df.head()

,ID,Restaurant,1,2,3,4,5,6,7,8,...,37,38,39,40,41,42,43,44,45,46
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,UJsufbvfyfONHeWdvAHKjA,Marshalls,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
res_df.shape

(53052, 48)

In [22]:
res_philli = pd.read_csv('processed_datasets/philadelphia/restuarants_philli.csv')
res_philli.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,GoodForDancing,BestNights,BYOB,Corkage,BYOBCorkage,AcceptsInsurance,RestaurantsCounterService,Open24Hours,AgesAllowed,DietaryRestrictions
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106.0,39.953949,-75.143226,4.0,245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147.0,39.943223,-75.162568,4.5,205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123.0,39.962582,-75.135657,3.5,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,Philadelphia,PA,19104.0,39.954573,-75.194894,3.0,56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
res_philli.shape

(5078, 51)

In [26]:
final_res = pd.merge(res_philli, res_df, left_on=['business_id'], right_on=['ID'], how='inner')

In [28]:
final_res.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,37,38,39,40,41,42,43,44,45,46
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,...,0,0,0,0,0,0,0,0,0,0
1,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106.0,39.953949,-75.143226,4.0,245,...,0,0,0,0,0,0,0,0,0,0
2,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147.0,39.943223,-75.162568,4.5,205,...,0,0,0,0,0,0,0,0,0,0
3,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123.0,39.962582,-75.135657,3.5,65,...,0,0,0,0,0,0,0,0,0,0
4,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,Philadelphia,PA,19104.0,39.954573,-75.194894,3.0,56,...,0,0,0,0,0,0,0,0,0,0

In [30]:
final_res.shape

(5078, 99)

In [32]:
final_res.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'categories', 'hours', 'RestaurantsDelivery', 'OutdoorSeating',
       'BusinessAcceptsCreditCards', 'BusinessParking', 'BikeParking',
       'RestaurantsPriceRange2', 'RestaurantsTakeOut', 'ByAppointmentOnly',
       'WiFi', 'Alcohol', 'Caters', 'WheelchairAccessible', 'GoodForKids',
       'RestaurantsAttire', 'RestaurantsReservations', 'Ambience', 'CoatCheck',
       'DogsAllowed', 'RestaurantsTableService', 'RestaurantsGoodForGroups',
       'HasTV', 'HappyHour', 'DriveThru', 'GoodForMeal', 'NoiseLevel',
       'BusinessAcceptsBitcoin', 'Smoking', 'Music', 'GoodForDancing',
       'BestNights', 'BYOB', 'Corkage', 'BYOBCorkage', 'AcceptsInsurance',
       'RestaurantsCounterService', 'Open24Hours', 'AgesAllowed',
       'DietaryRestrictions', 'ID', 'Restaurant', '1', '2', '3', '4', '5', '6',
       '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30',
       '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42',
       '43', '44', '45', '46'],
      dtype='object')

In [34]:
# Features to include 
#['1', '4', '5', '6', '7', '8', '11','12', '16', '20', '21', '25', '26', '29', '43']

In [36]:
feature_df = final_res[['business_id', 'name', 'address', 'postal_code', 'stars', 'review_count', '1', '4', '5', '6', '7', '8','12', '16', '20', '21', '25', '26', '29', '40', '43']]

In [38]:
feature_df.head()

,business_id,name,address,postal_code,stars,review_count,1,4,5,6,...,8,12,16,20,21,25,26,29,40,43
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,19107.0,4.0,80,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,19106.0,4.0,245,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,19147.0,4.5,205,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,19123.0,3.5,65,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,19104.0,3.0,56,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [40]:
feature_df.shape

(5078, 21)

### Creating a dataframe with each user, and his top rated 50 restaurants

In [43]:
filtered_df = df.where(df > 3.5)

# Get all businesses rated above 3.5 for each user
top_businesses = filtered_df.apply(lambda x: x.dropna().index.tolist(), axis=1)

# Create the DataFrame
top_rated = pd.DataFrame({
    'user_id': top_businesses.index,
    'top_businesses': top_businesses.values
})

top_rated.head()

                  user_id                                     top_businesses
0  65uUi6-TEmNcmbH-XvlyGQ  [--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99...
1  GQCW_UjR4bMefVRQ5zenfg  [--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99...
2  FMzoAk8gxKc2f5WHjntjWg  [--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99...
3  bFNn1jLP8bC_stWDEnhzuw  [--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99...
4  tfFBi12JKJHdYc8jbHMO1A  [--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99...

In [44]:
top_rated.shape

(10000, 2)

In [47]:
top_50_businesses_overall = feature_df.sort_values(by='stars', ascending=False).head(1000)
top_50_business_ids = top_50_businesses_overall['business_id'].tolist()

In [49]:
new_user_row = pd.DataFrame({
    'user_id': ['new_user'],
    'top_businesses': [top_50_business_ids]
})
top_rated = top_rated.append(new_user_row, ignore_index=True)

In [51]:
top_rated

,user_id,top_businesses
0,65uUi6-TEmNcmbH-XvlyGQ,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
1,GQCW_UjR4bMefVRQ5zenfg,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
2,FMzoAk8gxKc2f5WHjntjWg,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
3,bFNn1jLP8bC_stWDEnhzuw,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
4,tfFBi12JKJHdYc8jbHMO1A,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
...,...,...
9996,ar2VcQd35dh4-hUSUrQv2A,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
9997,UoVL4ZrJyn7gsZFOKJrgRg,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
9998,jFKTlyFPFvWyVEk-rRmFwA,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
9999,9gZ4R3EHF__2S9gSRHdr3A,"[--OS_I7dnABrXvRCCuWOGQ, --sXnWH9Xm6_NvIjyuA99..."
10000,new_user,"[YSq-EslYR6q7_C6eqMtBrQ, kG7VAFl67L0syjVhjYj5Z..."

In [53]:
df.to_pickle('processed_datasets/philadelphia/Final_Datasets/df.pkl')        
top_rated.to_pickle('processed_datasets/philadelphia/Final_Datasets/top_rated.pkl')   
feature_df.to_pickle('processed_datasets/philadelphia/Final_Datasets/feature_df.pkl')

# Testing on various Ranking Functions

In [115]:
user_preferences = {
    'DN7mB9u36QlCourhzbRq7A': [1,8],
    'I6M-7LxI1By6jd8H_OneeQ': [1,8],
    'UkBI4VW3CwLvIgXaiiLdig': [1,8]
}

In [138]:
user_preferences = {
    'DN7mB9u36QlCourhzbRq7A': [20, 40, 8, 1, 7, 16, 27, 43],
    'I6M-7LxI1By6jd8H_OneeQ': [8, 20, 35, 1, 7, 16],
    'UkBI4VW3CwLvIgXaiiLdig': [25, 7, 26, 8, 43]
}

## Cosine Similarity

In [140]:
preference_vector = np.zeros(46) 
for prefs in user_preferences.values():
    for feature in prefs:
        preference_index = int(feature)
        preference_vector[preference_index] += 1

original_indices = [1, 4, 5, 6, 7, 8, 12, 16, 20, 21, 25, 26, 29, 40, 43]        
preference_vector = preference_vector[original_indices]
# Normalize preference vector to weight preferences proportionally
preference_vector /= max(preference_vector)
valid_businesses = set()
for user_id in user_preferences.keys():
    if user_id in top_rated['user_id'].values:
        user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
    else:
        print(f"No data available for user_id {user_id}")
        user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
    user_top_businesses = set(user_top_businesses)
    if not valid_businesses:
        valid_businesses = user_top_businesses
    else:
        valid_businesses = valid_businesses.intersection(user_top_businesses)

filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]

# Construct a feature matrix from these restaurants
feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
restaurant_features = filtered_restaurants[feature_columns].to_numpy()
# Compute cosine similarity between aggregated user preference vector and each restaurant's features
similarities = cosine_similarity([preference_vector], restaurant_features)[0]

# Get the indices of the top 5 matching restaurants
top_5_indices = np.argsort(similarities)[-5:][::-1]

# Output the top 5 matches
print("\nTop 5 matches based on aggregated user preferences: \n")
for index in top_5_indices:
    best_match = filtered_restaurants.iloc[index]
    similarity_score = similarities[index]
    print("Business ID: ", best_match['business_id'])
    print("Name: ", best_match['name'])
    print("Address: ", best_match['address'], best_match.get('postal_code', ''))
    print("Similarity Score: {:.4f}".format(similarity_score))
    print()

Top 5 matches based on aggregated user preferences:

Business ID:  5oARHKPqDvT4x5blRvPjXg
Name:  New Tavern Bar
Address:  232 S 45th St 19104.0
Similarity Score: 0.8220

Business ID:  4tU9hlfzrCpcGWTIm-OKVA
Name:  Rouge
Address:  205 S 18th St 19103.0
Similarity Score: 0.8087

Business ID:  ZhEFPPLta5dBxUKnyqMF3Q
Name:  Frannie Nicks
Address:  824 S 8th St 19147.0
Similarity Score: 0.8087

Business ID:  _zTCeJDF00ssmvBUMY9sKA
Name:  AURA
Address:  628 N Front St 19123.0
Similarity Score: 0.7593

Business ID:  hc11CyeADoC4NhPzStObUQ
Name:  Lian Hsing's
Address:  1633 W Reed St 19146.0
Similarity Score: 0.7593

## Pearson Correlation Coefficient

In [142]:
from scipy.stats import pearsonr

def predict_restaurant(user_preferences, top_rated, feature_df):
    
    preference_vector = np.zeros(46) 
    for prefs in user_preferences.values():
        for feature in prefs:
            preference_index = int(feature)
            preference_vector[preference_index] += 1

    original_indices = [1, 4, 5, 6, 7, 8, 12, 16, 20, 21, 25, 26, 29, 40, 43]        
    preference_vector = preference_vector[original_indices]
    # Normalize preference vector to weight preferences proportionally
    preference_vector /= max(preference_vector)
    valid_businesses = set()
    for user_id in user_preferences.keys():
        if user_id in top_rated['user_id'].values:
            user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
        else:
            print(f"No data available for user_id {user_id}")
            user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
        user_top_businesses = set(user_top_businesses)
        if not valid_businesses:
            valid_businesses = user_top_businesses
        else:
            valid_businesses = valid_businesses.intersection(user_top_businesses)
    
    filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]

    # Construct a feature matrix from these restaurants
    feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
    restaurant_features = filtered_restaurants[feature_columns].to_numpy()
    
    def pearson_similarity(vector1, matrix):
        similarities = []
        for features in matrix:
            if np.all(features == 0) or np.all(vector1 == 0):
                similarities.append(0)  # Handle cases where vectors have no variance
            else:
                corr, _ = pearsonr(vector1, features)
                similarities.append(corr)
        return similarities
    
    similarities = pearson_similarity(preference_vector, restaurant_features)
    
    # similarities = cosine_similarity([preference_vector], restaurant_features)[0]

    # Get the indices of the top 5 matching restaurants
    top_5_indices = np.argsort(similarities)[-5:][::-1]

    # Output the top 5 matches
    print("\nTop 5 matches based on aggregated user preferences: \n")
    for index in top_5_indices:
        best_match = filtered_restaurants.iloc[index]
        similarity_score = similarities[index]
        print("Business ID: ", best_match['business_id'])
        print("Name: ", best_match['name'])
        print("Address: ", best_match['address'], best_match.get('postal_code', ''))
        print("Similarity Score: {:.4f}".format(similarity_score))
        print()

In [144]:
predict_restaurant(user_preferences, top_rated, feature_df)

Top 5 matches based on aggregated user preferences:

Business ID:  5oARHKPqDvT4x5blRvPjXg
Name:  New Tavern Bar
Address:  232 S 45th St 19104.0
Similarity Score: 0.7580

Business ID:  gA6fsMPkVswDxuacdZBzUA
Name:  Express Kabob & Grill
Address:  2327 Cottman Ave 19149.0
Similarity Score: 0.7051

Business ID:  XfxBlYGBEe9qBKN_6AA7Uw
Name:  Southside Zabihah Halal Eatery
Address:  6150 Woodland Ave 19142.0
Similarity Score: 0.7051

Business ID:  eU2xVsKv3d1cJicQh_q6qg
Name:  Pasha's Halal Food
Address:  1652 N 2nd St 19122.0
Similarity Score: 0.7051

Business ID:  JofztY500JID_vLJxtyVBw
Name:  Al-Sham Restaurant
Address:  6738 Bustleton Ave 19149.0
Similarity Score: 0.7051

## Binary BM25

In [146]:
def binary_bm25(restaurant_features, user_prefs_vector, k1=1.5, b=0.75):
    # Calculate document lengths for the BM25 length normalization
    doc_lengths = np.sum(restaurant_features, axis=1)
    avg_doc_length = np.mean(doc_lengths)
    
    # Calculate IDF for each feature in user preferences
    N = restaurant_features.shape[0]
    df = np.sum(restaurant_features, axis=0)
    idf = np.log((N - df + 0.5) / (df + 0.5) + 1)  # Added 1 to prevent negative values
    
    # Apply the binary BM25 formula
    tf = restaurant_features * user_prefs_vector  # binary TF (either 0 or 1)
    # Adjust tf calculation for proper broadcasting
    tf = (tf * (k1 + 1)) / (tf + k1 * (1 - b + b * (doc_lengths[:, np.newaxis] / avg_doc_length)))
    bm25_scores = np.sum(tf * idf, axis=1)  # Element-wise multiplication with idf
    
    return bm25_scores

def predict_restaurant(user_preferences, top_rated, feature_df):
    # Assuming binary features are already calculated
    # preference_vector and other code setup remains as previously defined
    
    user_prefs_vector = np.zeros(46) 
    for prefs in user_preferences.values():
        for feature in prefs:
            preference_index = int(feature)
            user_prefs_vector[preference_index] += 1

    original_indices = [1, 4, 5, 6, 7, 8, 12, 16, 20, 21, 25, 26, 29, 40, 43]        
    user_prefs_vector = user_prefs_vector[original_indices]

    valid_businesses = set()
    for user_id in user_preferences.keys():
        if user_id in top_rated['user_id'].values:
            user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
        else:
            print(f"No data available for user_id {user_id}")
            user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
        user_top_businesses = set(user_top_businesses)
        if not valid_businesses:
            valid_businesses = user_top_businesses
        else:
            valid_businesses = valid_businesses.intersection(user_top_businesses)
    
    filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]
    # Construct a feature matrix from these restaurants
    feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
    restaurant_features = filtered_restaurants[feature_columns].to_numpy()

    # Compute BM25 scores
    bm25_scores = binary_bm25(restaurant_features, user_prefs_vector)
    
    # Get the indices of the top 5 matching restaurants
    top_5_indices = np.argsort(bm25_scores)[-5:][::-1]

    # Output the top 5 matches
    print("\nTop 5 matches based on aggregated user preferences: \n")
    for index in top_5_indices:
        best_match = filtered_restaurants.iloc[index]
        similarity_score = bm25_scores[index]
        print("Business ID: ", best_match['business_id'])
        print("Name: ", best_match['name'])
        print("Address: ", best_match['address'], best_match.get('postal_code', ''))
        print("Similarity Score: {:.4f}".format(similarity_score))
        print()

In [148]:
predict_restaurant(user_preferences, top_rated, feature_df)

Top 5 matches based on aggregated user preferences:

Business ID:  ZhEFPPLta5dBxUKnyqMF3Q
Name:  Frannie Nicks
Address:  824 S 8th St 19147.0
Similarity Score: 9.4572

Business ID:  suu00nBOfDsTOjSm_WtV8A
Name:  Malooga
Address:  134 Chestnut St 19106.0
Similarity Score: 8.9011

Business ID:  THdOD9iDjQIGwHp_kHwakw
Name:  Food For Your Soul
Address:  2039 S 5th St 19148.0
Similarity Score: 8.7687

Business ID:  8jmTWp1l7gjs0sJJMthMsw
Name:  Blue Bay Restaurant
Address:  7642 City Ave 19151.0
Similarity Score: 8.7687

Business ID:  hNlvlGJsTXLJxeJ4RPsaeA
Name:  Alamodak Restaurant and Hookah Lounge
Address:  161 Cecil B Moore Ave 19122.0
Similarity Score: 8.5271

## Jaccard Similarity

In [154]:
def jaccard_similarity(vector1, matrix):
    # Ensure binary representation (0s and 1s only)
    vector1 = np.clip(vector1, 0, 1)
    matrix = np.clip(matrix, 0, 1)
    
    intersection = np.logical_and(matrix, vector1).sum(axis=1)
    union = np.logical_or(matrix, vector1).sum(axis=1)
    similarity = intersection / union
    return similarity

def predict_restaurant(user_preferences, top_rated, feature_df):
    
    preference_vector = np.zeros(46) 
    for prefs in user_preferences.values():
        for feature in prefs:
            preference_index = int(feature)
            preference_vector[preference_index] += 1

    original_indices = [1, 4, 5, 6, 7, 8, 12, 16, 20, 21, 25, 26, 29, 40, 43]        
    preference_vector = preference_vector[original_indices]
    # Normalize preference vector to weight preferences proportionally
    preference_vector /= max(preference_vector)
    valid_businesses = set()
    for user_id in user_preferences.keys():
        if user_id in top_rated['user_id'].values:
            user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
        else:
            print(f"No data available for user_id {user_id}")
            user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
        user_top_businesses = set(user_top_businesses)
        if not valid_businesses:
            valid_businesses = user_top_businesses
        else:
            valid_businesses = valid_businesses.intersection(user_top_businesses)
    
    filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]

    # Construct a feature matrix from these restaurants
    feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
    restaurant_features = filtered_restaurants[feature_columns].to_numpy() 
    
    similarities = jaccard_similarity(preference_vector, restaurant_features)
    
    # similarities = cosine_similarity([preference_vector], restaurant_features)[0]

    # Get the indices of the top 5 matching restaurants
    top_5_indices = np.argsort(similarities)[-5:][::-1]

    # Output the top 5 matches
    print("\nTop 5 matches based on aggregated user preferences: \n")
    for index in top_5_indices:
        best_match = filtered_restaurants.iloc[index]
        similarity_score = similarities[index]
        print("Business ID: ", best_match['business_id'])
        print("Name: ", best_match['name'])
        print("Address: ", best_match['address'], best_match.get('postal_code', ''))
        print("Similarity Score: {:.4f}".format(similarity_score))
        print()

In [156]:
predict_restaurant(user_preferences, top_rated, feature_df)

Top 5 matches based on aggregated user preferences:

Business ID:  4tU9hlfzrCpcGWTIm-OKVA
Name:  Rouge
Address:  205 S 18th St 19103.0
Similarity Score: 0.5556

Business ID:  suu00nBOfDsTOjSm_WtV8A
Name:  Malooga
Address:  134 Chestnut St 19106.0
Similarity Score: 0.5556

Business ID:  ZhEFPPLta5dBxUKnyqMF3Q
Name:  Frannie Nicks
Address:  824 S 8th St 19147.0
Similarity Score: 0.5556

Business ID:  T_GeXNYY_zO0WpJzBxQj4w
Name:  LeBus East Falls
Address:  4201 Ridge Ave 19129.0
Similarity Score: 0.5556

Business ID:  JrG4NINLspXPNhSXg7Q07Q
Name:  Front Street Cafe
Address:  1253 N Front St 19122.0
Similarity Score: 0.5000

**Using Cosine Similarity to Rank Restaurants, as it performed the best based on our intuition**

# Final Inference Code

In [160]:
top_rated = pd.read_pickle('processed_datasets/philadelphia/Final_Datasets/top_rated.pkl')
feature_df = pd.read_pickle('processed_datasets/philadelphia/Final_Datasets/feature_df.pkl')

In [93]:
user_preferences = {
    'DN7mB9u36QlCourhzbRq7A': [20, 40, 8, 1, 7, 16, 27, 43],
    'I6M-7LxI1By6jd8H_OneeQ': [8, 20, 35, 1, 7, 16],
    'UkBI4VW3CwLvIgXaiiLdig': [25, 7, 26, 8, 43]
}

In [162]:
# Changing the logic to check if valid restaurant or not

def predict_restaurant(user_preferences, top_rated, feature_df):
    
    preference_vector = np.zeros(46) 
    for prefs in user_preferences.values():
        for feature in prefs:
            preference_index = int(feature)
            preference_vector[preference_index] += 1

    original_indices = [1, 4, 5, 6, 7, 8, 12, 16, 20, 21, 25, 26, 29, 40, 43]        
    preference_vector = preference_vector[original_indices]
    # Normalize preference vector to weight preferences proportionally
    preference_vector /= max(preference_vector)
    valid_businesses = set()
    for user_id in user_preferences.keys():
        if user_id in top_rated['user_id'].values:
            user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
        else:
            print(f"No data available for user_id {user_id}")
            user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
        user_top_businesses = set(user_top_businesses)
        if not valid_businesses:
            valid_businesses = user_top_businesses
        else:
            valid_businesses = valid_businesses.intersection(user_top_businesses)
    
    filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]

    # Construct a feature matrix from these restaurants
    feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
    restaurant_features = filtered_restaurants[feature_columns].to_numpy()

    # Compute cosine similarity between aggregated user preference vector and each restaurant's features
    similarities = cosine_similarity([preference_vector], restaurant_features)[0]

    index = np.argmax(similarities)
    best_match = filtered_restaurants.iloc[index]
    similarity_score = similarities[index]
    
    return {'Name': best_match['name'], 
            'Business_id' : best_match['business_id'],
            'Address': best_match.get('address', '') + str(best_match.get('postal_code', '')),
            'Similarity_Score':  similarity_score}

In [164]:
predict_restaurant(user_preferences, top_rated, feature_df)

{'Name': 'New Tavern Bar',
 'Business_id': '5oARHKPqDvT4x5blRvPjXg',
 'Address': '232 S 45th St19104.0',
 'Similarity_Score': 0.8219949365267865}

In [50]:
# previous unoptimized code

# def predict_restaurant(user_preferences, top_rated, df, feature_df):
    
#     preference_vector = np.zeros(46) 
#     for prefs in user_preferences.values():
#         for feature in prefs:
#             preference_index = int(feature)
#             preference_vector[preference_index] += 1

#     original_indices = [1, 4, 5, 6, 7, 8, 11, 12, 16, 20, 21, 25, 26, 29, 43]        
#     preference_vector = preference_vector[original_indices]
#     # Normalize preference vector to weight preferences proportionally
#     preference_vector /= max(preference_vector)
#     all_top_businesses = set()
#     for user_id in user_preferences.keys():
#         if user_id in top_rated['user_id'].values:
#             user_top_businesses = top_rated.loc[top_rated['user_id'] == user_id, 'top_businesses'].values[0]
#         else:
#             print(f"No data available for user_id {user_id}")
#             user_top_businesses = top_rated[top_rated['user_id'] == 'new_user']
#         all_top_businesses.update(user_top_businesses)
        
#     valid_businesses = set()
#     for business in all_top_businesses:
#         is_valid = True
#         for user_id in user_preferences: 
#             if user_id in df.index:
#                 if pd.notna(df.at[user_id, business]) and df.at[user_id, business] < 3.5:
#                     is_valid = False
#                     break
#         if is_valid:
#             valid_businesses.add(business)
    
#     filtered_restaurants = feature_df[feature_df['business_id'].isin(valid_businesses)]

#     # Construct a feature matrix from these restaurants
#     feature_columns = [f'{i}' for i in original_indices]  # Adjust if column names are different
#     restaurant_features = filtered_restaurants[feature_columns].to_numpy()

#     # Compute cosine similarity between aggregated user preference vector and each restaurant's features
#     similarities = cosine_similarity([preference_vector], restaurant_features)[0]

#     index = np.argmax(similarities)
#     best_match = filtered_restaurants.iloc[index]
#     similarity_score = similarities[index]
    
#     return {'Name': best_match['name'], 
#             'Business_id' : best_match['business_id'],
#             'Address': best_match.get('address', '') + str(best_match.get('postal_code', '')),
#             'Similarity_Score':  similarity_score}