In [2]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline 
import pandas as pd
import json
from tqdm import tqdm

import re
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/kirthanpakki/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kirthanpakki/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/kirthanpakki/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

# Preprocessing Businesses Dataset

In [5]:
biz_df = pd.read_json('yelp_dataset/yelp_academic_dataset_business.json', lines = True)
biz_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [6]:
biz_df.shape

(150346, 14)

In [7]:
biz_df['is_open'].value_counts()

1    119698
0     30648
Name: is_open, dtype: int64

In [8]:
# Dropping any businesses which are closed
biz_df = biz_df[biz_df['is_open'] == 1]

In [9]:
biz_df.shape

(119698, 14)

### Filtering out Businesses which are not Food

In [20]:
# Getting all the various categories in the dataset

all_categories = biz_df['categories'].str.split(', ').explode()
all_categories = set(all_categories)

In [23]:
len(all_categories)

1303

In [24]:
print(all_categories)

{'Consumer Law', 'Department Stores', 'Casinos', 'General Litigation', 'Bird Shops', 'Gastropubs', 'Digitizing Services', 'Television Service Providers', 'Home Decor', 'Head Shops', 'Framing', 'Beverage Store', 'Bicycle Paths', 'Bespoke Clothing', 'Senior Centers', 'Marinas', 'Process Servers', 'Physical Therapy', 'Swimming Pools', 'Smokehouse', 'Valet Services', 'Service Stations', 'Business Law', 'Estheticians', 'Pediatric Dentists', 'Radiologists', 'Limos', 'Ice Cream & Frozen Yogurt', 'Optometrists', 'Elder Law', 'Delis', 'Candle Stores', 'Beer Bar', 'Shopping Centers', 'Lebanese', 'Sushi Bars', 'Ethnic Grocery', 'Shoe Stores', 'Cannabis Clinics', 'Interval Training Gyms', 'Sandblasting', 'Fuzhou', 'Irrigation', 'Vape Shops', 'Diners', 'Cannabis Collective', 'Batting Cages', 'Professional Services', 'Skating Rinks', 'Cosmetic Dentists', 'Wigs', 'Urologists', 'Home & Garden', 'Indian', 'Food', 'Salad', 'Rodeo', 'Golf Cart Rentals', 'Bikes', 'Courthouses', 'Estate Planning Law', 'Childproofing', 'Electricians', 'Tableware', 'Home Health Care', 'Outdoor Furniture Stores', 'Veterans Organizations', 'Ceremonial Clothing', 'Auto Insurance', 'Real Estate Services', 'Permanent Makeup', 'Carpet Installation', 'Debt Relief Services', 'Southern', 'Audiologist', 'Education', 'Climbing', 'Karaoke Rental', 'Pets', 'Pasta Shops', 'Airlines', 'Patisserie/Cake Shop', 'Excavation Services', 'Machine Shops', 'Accountants', 'Gutter Services', 'Sheds & Outdoor Storage', 'Cycling Classes', 'Vacation Rentals', 'Halotherapy', 'Car Stereo Installation', 'Pakistani', 'Holiday Decorating Services', 'Flyboarding', 'Oil Change Stations', 'International', 'Bike Sharing', 'Trailer Dealers', 'Races & Competitions', 'Nanny Services', 'Gold Buyers', 'Scandinavian', 'Boot Camps', 'Skilled Nursing', 'Traditional Clothing', 'Sex Therapists', 'Roofing', 'Trivia Hosts', 'Grocery', 'Orthodontists', 'Haunted Houses', 'Zoos', 'Rugs', 'Podiatrists', 'Cardio Classes', 'Shredding Services', 'Hotels', 'Poke', 'Notaries', 'Hot Air Balloons', 'Weight Loss Centers', 'American (Traditional)', 'Brewpubs', 'Fuel Docks', 'Ethical Grocery', 'Fondue', 'Blood & Plasma Donation Centers', 'Commercial Truck Repair', "Children's Clothing", 'ATV Rentals/Tours', 'Trains', 'Foot Care', 'Gluten-Free', 'Urgent Care', 'Beauty & Spas', 'Racing Experience', 'Crane Services', 'Tubing', 'Bus Tours', 'Reptile Shops', 'Fitness & Instruction', 'Car Buyers', 'Medical Centers', 'Cremation Services', 'Candy Stores', 'Architects', 'Boat Dealers', 'Jewelry Repair', 'Badminton', 'Diamond Buyers', 'Aerial Tours', 'Prosthetics', 'Naturopathic/Holistic', 'Skin Care', 'Embassy', 'Proctologists', 'Mailbox Centers', 'Town Hall', 'Hydroponics', 'Shipping Centers', 'Mags', 'Nightlife', 'Community Centers', 'Paint-Your-Own Pottery', 'Bike tours', 'Vocational & Technical School', 'Aircraft Repairs', 'Family Practice', 'Taiwanese', 'Food Trucks', 'Greek', 'Cocktail Bars', 'Cardiologists', 'Argentine', 'Leather Goods', 'Plastic Surgeons', 'Insurance', 'Tiling', 'Scuba Diving', 'Performing Arts', 'Drugstores', 'Hockey Equipment', 'Land Surveying', 'Gastroenterologist', 'Car Auctions', 'Convenience Stores', 'Oriental', 'Well Drilling', 'Wills', 'Medical Transportation', 'Screen Printing', 'Burgers', 'Internet Service Providers', 'Donairs', 'Buses', 'Game Truck Rental', 'Artificial Turf', 'Amateur Sports Teams', 'Beach Equipment Rentals', 'Formal Wear', 'Tex-Mex', 'Guamanian', 'Oncologist', 'Latin American', 'Baseball Fields', 'Business Consulting', 'Active Life', 'Financial Services', 'Mobile Home Repair', 'Eastern European', 'Fabric Stores', 'Dental Hygienists', 'Title Loans', 'Japanese Curry', 'Art Museums', 'Environmental Testing', 'Indoor Landscaping', 'Australian', 'General Dentistry', 'Buddhist Temples', 'Nail Technicians', 'Reflexology', 'Vintage & Consignment', 'Shopping', 'Mobile Phones', 'Web Design', 'Neurotologists', 'Bookbinding', 'Pet Groomers', 'Bus Rental', 'Poutineries', 'Canadian (New)', 'Mobile Phone Accessories', 'Grill Services', 'Golf', 'Firearm Training', 'Sport Equipment Hire', 'Television Stations', 'Pool Halls', 'Private Tutors', 'Indoor Playcentre', 'Used', 'Steakhouses', 'Noodles', 'Strip Clubs', 'Coffee & Tea Supplies', 'Trade Fairs', 'Themed Cafes', 'Uzbek', 'Lakes', 'Unofficial Yelp Events', 'Breakfast & Brunch', 'Data Recovery', 'EV Charging Stations', 'Chinese Martial Arts', 'Soup', 'Transportation', 'Floral Designers', 'Environmental Abatement', 'General Festivals', 'Bike Repair', 'Septic Services', 'Gunsmith', 'Elementary Schools', 'Office Cleaning', 'Snow Removal', 'Laser Tag', 'Mongolian', 'Photography Classes', 'Waldorf Schools', 'Wedding Planning', 'Taxidermy', 'IV Hydration', 'Demolition Services', 'Flight Instruction', 'Chimney Sweeps', 'Towing', 'Food Tours', 'Trainers', 'Town Car Service', 'Housing Cooperatives', 'Shanghainese', 'Military Surplus', 'Furniture Reupholstery', 'Farmers Market', 'Venues & Event Spaces', 'Ranches', 'Personal Injury Law', 'Skate Shops', 'Drive-In Theater', 'Party Bus Rentals', 'Art Consultants', 'Music & Video', 'Art Space Rentals', 'Cambodian', 'Flowers', 'Makeup Artists', 'Swimming Lessons/Schools', 'Hindu Temples', 'Mortgage Lenders', 'Car Brokers', 'Installment Loans', 'Delicatessen', 'Battery Stores', 'Landscaping', 'Books', 'Mohels', 'Props', 'Wineries', 'Spanish', 'Speakeasies', 'Pedicabs', 'Structural Engineers', 'Trophy Shops', 'Meaderies', 'Arts & Entertainment', 'Diagnostic Services', 'Fingerprinting', 'Turkish', 'Personal Care Services', 'Pediatricians', 'Obstetricians & Gynecologists', 'Carpenters', 'Biohazard Cleanup', 'Comfort Food', 'Stadiums & Arenas', 'Magicians', 'Piano Stores', 'Basque', 'Whiskey Bars', 'University Housing', 'Cideries', 'Translation Services', 'Dance Clubs', 'Vegetarian', 'Jails & Prisons', 'Cosmetology Schools', 'Rest Stops', 'Chiropractors', 'Commercial Real Estate', 'Sunglasses', 'Horse Racing', 'Hypnosis/Hypnotherapy', 'Surf Shop', 'Faith-based Crisis Pregnancy Centers', 'Vehicle Shipping', 'Food Delivery Services', 'Concierge Medicine', 'Karate', 'IT Services & Computer Repair', 'Hydrotherapy', 'Scavenger Hunts', 'Sporting Goods', 'Emergency Pet Hospital', 'Live/Raw Food', 'Home Developers', 'Waxing', 'Home Energy Auditors', 'Tattoo', 'Tattoo Removal', 'Speech Therapists', 'Sperm Clinic', 'Laser Eye Surgery/Lasik', 'Hot Tub & Pool', 'Appliances', 'Tacos', 'Afghan', 'Glass & Mirrors', 'Sandwiches', 'Wedding Chapels', 'Planetarium', 'Coffeeshops', 'Paintball', 'Parenting Classes', 'Food Court', 'Knife Sharpening', 'Hungarian', 'Snorkeling', 'Masonry/Concrete', 'Persian/Iranian', 'Bankruptcy Law', 'Window Washing', 'Bail Bondsmen', 'Japanese', 'Brazilian Jiu-jitsu', 'Hepatologists', 'Szechuan', 'Shutters', 'American (New)', 'Public Art', 'Landscape Architects', 'Pita', 'DUI Schools', 'Embroidery & Crochet', 'Custom Cakes', 'Art Tours', 'Pool & Hot Tub Service', 'Test Preparation', 'Payroll Services', 'Brazilian', 'Wholesalers', 'Henna Artists', 'Buffets', 'Piercing', 'Dumpster Rental', 'Tax Law', 'Basketball Courts', 'Backflow Services', 'Videographers', 'Preschools', 'Vinyl Records', 'Windows Installation', 'Periodontists', 'Pathologists', 'Legal Services', 'Cabaret', 'Cryotherapy', 'Rafting/Kayaking', 'Utilities', 'Meditation Centers', 'Safe Stores', 'Laser Hair Removal', 'Glass Blowing', 'Surfing', 'Lighting Fixtures & Equipment', 'Prosthodontists', 'Parklets', 'Health & Medical', 'Air Duct Cleaning', 'Cultural Center', 'Bagels', 'Religious Schools', 'Wallpapering', 'Motorcycle Parts & Supplies', 'Estate Liquidation', 'Security Services', 'Employment Law', 'Party & Event Planning', 'Bingo Halls', 'Bowling', 'Tabletop Games', 'Jewelry', 'Sri Lankan', 'Handyman', 'Audio/Visual Equipment Rental', 'Bakeries', 'Wildlife Hunting Ranges', 'Smog Check Stations', 'Outdoor Movies', 'Currency Exchange', 'Immunodermatologists', 'Restaurants', 'Muay Thai', 'Bike Rentals', 'Windshield Installation & Repair', 'Caricatures', 'Piano Services', 'Museums', 'Motorcycle Rental', 'Private Investigation', 'Veterinarians', 'Mobility Equipment Sales & Services', 'Grout Services', 'Screen Printing/T-Shirt Printing', 'Belgian', 'Peruvian', 'Lounges', 'Outlet Stores', 'Breweries', 'Bars', 'Nurse Practitioner', 'Sauna Installation & Repair', 'Filipino', 'Gerontologists', 'Coffee Roasteries', 'Vascular Medicine', 'Pickleball', 'Auto Repair', 'Hybrid Car Repair', 'Medical Cannabis Referrals', 'Event Planning & Services', 'Auction Houses', 'Child Care & Day Care', 'Herbal Shops', 'Food Banks', 'Pubs', 'Psychologists', 'Hearing Aid Providers', 'Clothing Rental', 'Car Inspectors', 'Building Supplies', 'Hair Salons', 'Art Restoration', 'Day Camps', 'Outdoor Power Equipment Services', 'Endocrinologists', 'Antiques', 'Private Schools', 'Dart Arenas', 'DUI Law', 'Shaved Ice', 'Arcades', 'Duplication Services', 'RV Repair', 'Solar Panel Cleaning', 'Donation Center', 'Martial Arts', 'Telecommunications', 'Firewood', 'Conveyor Belt Sushi', 'Traffic Schools', 'Wraps', 'Party Supplies', 'Interior Design', 'Challenge Courses', 'Malaysian', 'First Aid Classes', 'College Counseling', 'Safety Equipment', 'Eyewear & Opticians', 'Computers', 'Kitchen Incubators', 'Sailing', 'Florists', 'Syrian', 'Reiki', 'Yoga', 'Infectious Disease Specialists', 'Videos & Video Game Rental', 'Public Services & Government', 'Olive Oil', 'Ethiopian', 'Photography Stores & Services', 'Public Markets', 'Water Stores', 'Homeowner Association', 'Laundromat', 'House Sitters', 'Calabrian', 'Motorsport Vehicle Repairs', 'IP & Internet Law', 'Nephrologists', 'Italian', 'Cucina campana', 'Pick Your Own Farms', 'Walk-in Clinics', None, 'Piano Bars', 'Cheese Shops', 'Hair Removal', 'Police Departments', 'Dentists', 'Product Design', 'Scooter Tours', 'Fences & Gates', 'Assisted Living Facilities', 'Puerto Rican', 'New Mexican Cuisine', 'Bus Stations', 'Beer Gardens', 'Advertising', 'Mobile Home Dealers', 'Acne Treatment', 'Party Characters', 'Horseback Riding', 'Sports Clubs', 'Foundation Repair', 'Real Estate Law', 'Furniture Rental', 'Car Share Services', 'Wine Tasting Room', 'Pan Asian', 'Watches', 'Hotels & Travel', 'Hair Extensions', 'Pawn Shops', 'Hang Gliding', 'Oral Surgeons', 'Sleep Specialists', 'Furniture Stores', 'Emergency Medicine', 'Cuban', 'Go Karts', 'Home & Rental Insurance', 'CSA', 'Ski Schools', 'Golf Equipment', 'Home Automation', 'Psychiatrists', 'Pain Management', 'Ear Nose & Throat', 'Public Relations', 'Tennis', 'Colonics', 'Childbirth Education', 'Disc Golf', 'Sports Medicine', 'Movers', 'Colombian', 'Homeless Shelters', 'Sports Wear', 'Life Coach', 'Departments of Motor Vehicles', 'Venezuelan', 'Used Car Dealers', 'Restaurant Supplies', 'Golf Cart Dealers', 'Damage Restoration', 'Cinema', 'Hazardous Waste Disposal', 'Home Theatre Installation', 'Farming Equipment', 'Massage Schools', 'Traditional Chinese Medicine', 'Fruits & Veggies', 'Chicken Wings', 'Teeth Whitening', 'Aestheticians', 'Oxygen Bars', 'Interlock Systems', 'Mediators', 'Kids Activities', 'Christmas Trees', 'Escape Games', 'Recording & Rehearsal Studios', 'Perfume', 'Health Insurance Offices', 'Elder Care Planning', 'Kiteboarding', 'Printing Services', 'Patent Law', 'Silent Disco', 'Himalayan/Nepalese', 'Nutritionists', 'Tea Rooms', 'Aviation Services', 'Playsets', 'Drones', 'Boating', 'Herbs & Spices', 'Knitting Supplies', 'Pet Waste Removal', 'Farms', 'Boxing', 'Carousels', 'Vermouth Bars', 'Guns & Ammo', 'Roof Inspectors', 'Donuts', 'Circuit Training Gyms', 'Blow Dry/Out Services', 'Karaoke', 'Free Diving', 'Fast Food', 'Ukrainian', 'Hunting & Fishing Supplies', 'Senegalese', 'Travel Services', 'Water Purification Services', 'Tires', 'Thrift Stores', 'Dive Bars', 'Comic Books', 'Float Spa', 'Awnings', 'Motorcycle Dealers', 'Experiences', 'Gun/Rifle Ranges', 'Donburi', 'Municipality', 'Team Building Activities', 'Condominiums', 'Middle Schools & High Schools', 'Life Insurance', 'Billing Services', 'Popcorn Shops', 'Recreation Centers', 'Medical Law', 'Trailer Repair', 'Dry Cleaning', 'Pop-up Shops', 'Somali', 'Addiction Medicine', 'Country Clubs', 'Print Media', "Women's Clothing", 'Guest Houses', 'Tai Chi', 'Financial Advising', 'Reproductive Health Services', 'Burmese', 'Juice Bars & Smoothies', 'Vietnamese', 'Mediterranean', 'Hawaiian', 'CPR Classes', 'Guitar Stores', 'South African', 'Sports Bars', "Men's Hair Salons", 'Divorce & Family Law', '& Probates', 'Imported Food', 'Rheumatologists', 'Nicaraguan', 'Beer Tours', 'Train Stations', 'Libraries', 'Session Photography', 'Spray Tanning', 'Rolfing', 'Hats', 'Diagnostic Imaging', 'Hakka', 'Skiing', 'Cosmetics & Beauty Supply', 'Religious Organizations', 'Balloon Services', 'Livestock Feed & Supply', 'Modern European', 'Concept Shops', 'Creperies', 'Furniture Repair', 'Moroccan', 'Home Organization', 'Keys & Locksmiths', 'Architectural Tours', 'Parks', 'Electronics', 'Boudoir Photography', 'Sports Betting', 'Junk Removal & Hauling', 'Couriers & Delivery Services', 'Luggage', 'Synagogues', 'Discount Store', 'Mobile Phone Repair', 'Travel Agents', 'Mattresses', 'Security Systems', 'Summer Camps', 'Tanning Beds', 'Ophthalmologists', 'Fireworks', 'Music Venues', 'Gas Stations', 'Nurseries & Gardening', 'Skydiving', 'Emergency Rooms', 'Ziplining', 'Personal Shopping', 'Motorcycle Gear', 'Brewing Supplies', 'Funeral Services & Cemeteries', 'Roadside Assistance', 'Egyptian', 'Pet Photography', 'Customized Merchandise', 'Gardeners', 'Specialty Schools', 'Coffee & Tea', 'Airports', 'Trampoline Parks', 'Pet Adoption', 'Sewing & Alterations', 'Izakaya', 'Memory Care', 'Wildlife Control', 'Tapas/Small Plates', 'Golf Lessons', 'Stucco Services', 'RV Dealers', 'Cigar Bars', 'Contract Law', 'Cooking Schools', 'Garage Door Services', 'Commercial Truck Dealers', 'Diving', 'Tapas Bars', 'Clowns', 'Neurologist', 'Bartenders', 'Office Equipment', 'Internet Cafes', 'Home Staging', 'Airport Shuttles', 'Toy Stores', 'Vacation Rental Agents', 'Serbo Croatian', 'Iberian', 'Sicilian', 'Otologists', 'Video/Film Production', 'Acai Bowls', 'Boat Parts & Supplies', 'Gemstones & Minerals', 'Lingerie', "Children's Museums", 'Aquariums', 'Hospitals', 'Furniture Assembly', 'Personal Assistants', 'Chinese', 'Beer', 'LAN Centers', 'Campgrounds', 'Shades & Blinds', 'Meat Shops', 'Scottish', 'Language Schools', 'Souvenir Shops', 'Bocce Ball', 'Maternity Wear', 'Ski Resorts', 'Shoe Shine', 'Fireplace Services', 'Horse Equipment Shops', 'Face Painting', 'Caterers', 'Historical Tours', 'Auto Detailing', 'Beaches', 'Anesthesiologists', 'Ayurveda', 'Holistic Animal Care', 'Caribbean', 'Art Classes', 'Retirement Homes', 'Home Inspectors', 'Paragliding', 'Cabinetry', 'Truck Rental', 'Allergists', 'Mountain Biking', 'Bar Crawl', 'Playgrounds', 'Bounce House Rentals', 'Taekwondo', 'Massage Therapy', 'Photo Booth Rentals', "Men's Clothing", 'Middle Eastern', 'Pool Cleaners', 'Bubble Soccer', 'Pet Transportation', 'Bistros', 'Accessories', 'Auto Glass Services', 'Musical Instruments & Teachers', 'Pizza', 'Airport Lounges', 'Health Retreats', 'Macarons', 'Golf Equipment Shops', 'Apartments', 'Tours', 'Supernatural Readings', 'Shaved Snow', 'Fire Protection Services', 'Automotive', 'Lactation Services', 'Packing Services', 'Orthotics', 'Arabic', 'Hot Dogs', 'Auto Parts & Supplies', 'Pet Insurance', 'Public Adjusters', 'Passport & Visa Services', 'Transmission Repair', 'Home Cleaning', 'Pilates', 'Editorial Services', 'Drive-Thru Bars', 'Fire Departments', 'Water Heater Installation/Repair', 'Fishing', 'Hostels', 'Mosques', 'Dance Studios', 'Psychics', 'Massage', 'Occupational Therapy', 'Animal Shelters', 'Eyelash Service', 'Personal Chefs', 'Patio Coverings', 'Fish & Chips', 'Botanical Gardens', 'Crisis Pregnancy Centers', 'Mortgage Brokers', 'Plumbing', 'Machine & Tool Rental', 'African', 'Watch Repair', 'Do-It-Yourself Food', 'Distilleries', 'Asian Fusion', 'Baby Gear & Furniture', 'Thai', 'Pet Training', 'Wine Bars', 'Dance Schools', 'Spiritual Shop', 'Barre Classes', 'Sledding', 'Ramen', 'Honey', 'Lighting Stores', 'Rehabilitation Center', 'Cheerleading', 'Kickboxing', 'Real Estate Agents', 'Bike Parking', 'Pet Sitting', 'Brasseries', 'Mini Golf', 'Cannabis Dispensaries', 'Real Estate Photography', 'Electricity Suppliers', 'Mobile Dent Repair', 'Hair Loss Centers', 'Airsoft', 'Portable Toilet Services', 'Paddleboarding', 'Real Estate', 'Grilling Equipment', 'Body Shops', 'Educational Services', 'Surgeons', 'Heating & Air Conditioning/HVAC', 'Russian', 'Tenant and Eviction Law', 'Club Crawl', 'Spin Classes', 'Criminal Defense Law', 'Irish Pub', 'Lice Services', 'Circus Schools', 'Eyebrow Services', 'Orthopedists', 'Mobile Home Parks', 'Art Supplies', 'Driving Schools', 'Post Offices', 'Soccer', 'Party Bike Rentals', 'Home Network Installation', 'Dry Cleaning & Laundry', 'Local Fish Stores', 'Aerial Fitness', 'Software Development', 'Pet Hospice', 'Home Services', 'Vegan', 'Water Parks', 'Seafood Markets', 'Jazz & Blues', 'Tonkatsu', 'Dermatologists', 'Mass Media', 'Landmarks & Historical Buildings', 'Musicians', 'Pumpkin Patches', 'Gift Shops', 'Internal Medicine', 'Gay Bars', 'Hot Pot', 'Cannabis Tours', 'Apartment Agents', 'Junkyards', 'Outdoor Gear', 'Private Jet Charter', 'Community Gardens', 'Animal Physical Therapy', 'Axe Throwing', 'Georgian', 'Music & DVDs', 'Bartending Schools', 'Cajun/Creole', 'Boat Tours', 'Newspapers & Magazines', 'Commissioned Artists', 'Cafeteria', 'Bicycles', 'Desserts', 'Art Schools', 'Adult Entertainment', 'Bed & Breakfast', 'Montessori Schools', 'Saunas', 'Chicken Shop', 'Race Tracks', 'Flowers & Gifts', 'Clock Repair', 'Car Dealers', 'Bubble Tea', 'Decks & Railing', 'Cards & Stationery', 'Contractors', 'Fertility', 'Teacher Supplies', 'Self Storage', 'Vocal Coach', 'Opera & Ballet', 'Wine & Spirits', 'Laundry Services', 'Dance Wear', 'Medical Spas', 'RV Rental', 'Bangladeshi', 'Countertop Installation', 'Yelp Events', 'Cupcakes', 'Colleges & Universities', 'Cafes', 'Party Equipment Rentals', 'Dominican', 'Barbers', 'Midwives', 'Austrian', 'Resorts', 'Flooring', 'Cheesesteaks', 'Cheese Tasting Classes', 'Bookstores', 'Gelato', 'Mexican', 'Sports Psychologists', 'Appraisal Services', 'Food Stands', 'Taxis', 'Astrologers', 'Haitian', 'Paint & Sip', 'Dog Parks', 'Kitchen & Bath', 'Acupuncture', 'Recycling Center', 'Stonemasons', 'Workers Compensation Law', 'Local Services', 'Farm Equipment Repair', 'Pole Dancing Classes', 'Siding', 'Medical Supplies', 'Pet Breeders', 'Nudist', 'Car Wash', 'Art Installation', 'Waterproofing', 'Neuropathologists', 'Halal', 'Elevator Services', 'Ethnic Food', 'Engraving', 'Adoption Services', 'Squash', 'Portuguese', 'Osteopathic Physicians', 'Carpet Dyeing', 'Alternative Medicine', 'Irish', 'Horse Boarding', 'Seafood', 'Salvadoran', 'Tanning', 'Car Rental', 'Butcher', 'Hospice', 'Parasailing', 'Fashion', 'Flea Markets', 'TV Mounting', 'Trinidadian', 'Pet Boarding', 'Bridal', 'Vitamins & Supplements', 'Dim Sum', 'Water Delivery', 'Graphic Design', 'Halfway Houses', 'Matchmakers', 'Phlebologists', 'French', 'Sugaring', 'Gymnastics', 'Carpet Cleaning', 'Health Markets', 'Calligraphy', 'Attraction Farms', 'Hiking', 'Fur Clothing', 'Tuscan', 'Teppanyaki', 'DIY Auto Shop', 'Drywall Installation & Repair', 'Holiday Decorations', 'Petting Zoos', 'Health Coach', 'Pet Services', 'Wheel & Rim Repair', 'Video Game Stores', 'Home Window Tinting', 'British', 'Placenta Encapsulations', 'Carpeting', 'Pressure Washers', 'Organic Stores', 'Ultrasound Imaging Centers', 'Aquarium Services', 'Cosmetic Surgeons', 'Community Service/Non-Profit', 'Dive Shops', 'Skate Parks', 'Endodontists', 'Kebab', 'Korean', 'Motorsport Vehicle Dealers', 'Ticket Sales', 'Ferries', 'Hainan', 'Adult', 'Shared Office Spaces', 'Surf Schools', 'Doctors', 'Virtual Reality Centers', 'Hardware Stores', 'Costumes', 'Specialty Food', 'Rock Climbing', 'Auto Upholstery', 'Kombucha', 'Metal Detector Services', 'Used Bookstore', 'Walking Tours', 'Behavior Analy

In [30]:
food_categories = {
    'Beverage Store',
    'Department Stores',
    'Smokehouse',
    'Valet Services',
    'Ice Cream & Frozen Yogurt',
    'Delis',
    'Beer Bar',
    'Sushi Bars',
    'Diners',
    'Indian',
    'Food',
    'Salad',
    'Southern',
    'Pasta Shops',
    'Patisserie/Cake Shop',
    'Pakistani',
    'Scandinavian',
    'Hotels',
    'American (Traditional)',
    'Fondue',
    'Gluten-Free',
    'Candy Stores',
    'Nightlife',
    'Taiwanese',
    'Food Trucks',
    'Greek',
    'Cocktail Bars',
    'Burgers',
    'Donairs',
    'Tex-Mex',
    'Guamanian',
    'Latin American',
    'Eastern European',
    'Japanese Curry',
    'Poutineries',
    'Canadian (New)',
    'Steakhouses',
    'Noodles',
    'Coffee & Tea Supplies',
    'Themed Cafes',
    'Uzbek',
    'Breakfast & Brunch',
    'Soup',
    'Mongolian',
    'Food Tours',
    'Shanghainese',
    'Drive-In Theater',
    'Cambodian',
    'Delicatessen',
    'Wineries',
    'Spanish',
    'Speakeasies',
    'Meaderies',
    'Turkish',
    'Comfort Food',
    'Whiskey Bars',
    'Dance Clubs',
    'Vegetarian',
    'Food Delivery Services',
    'Live/Raw Food',
    'Tacos',
    'Afghan',
    'Sandwiches',
    'Coffeeshops',
    'Food Court',
    'Hungarian',
    'Persian/Iranian',
    'Japanese',
    'Szechuan',
    'American (New)',
    'Pita',
    'Brazilian',
    'Custom Cakes',
    'Buffets',
    'Cabaret',
    'Bagels',
    'Bowling',
    'Sri Lankan',
    'Bakeries',
    'Restaurants',
    'Belgian',
    'Peruvian',
    'Breweries',
    'Bars',
    'Coffee Roasteries',
    'Food Banks',
    'Pubs',
    'Shaved Ice',
    'Conveyor Belt Sushi',
    'Wraps',
    'Malaysian',
    'Syrian',
    'Olive Oil',
    'Ethiopian',
    'Calabrian',
    'Italian',
    'Cucina campana',
    'Cheese Shops',
    'Puerto Rican',
    'New Mexican Cuisine',
    'Beer Gardens',
    'Wine Tasting Room',
    'Pan Asian',
    'Cuban',
    'Colombian',
    'Venezuelan',
    'Chicken Wings',
    'Himalayan/Nepalese',
    'Donuts',
    'Karaoke',
    'Fast Food',
    'Ukrainian',
    'Senegalese',
    'Donburi',
    'Popcorn Shops',
    'Somali',
    'Burmese',
    'Tai Chi',
    'Juice Bars & Smoothies',
    'Vietnamese',
    'Mediterranean',
    'Hawaiian',
    'South African',
    'Hakka',
    'Modern European',
    'Creperies',
    'Moroccan',
    'Egyptian',
    'Coffee & Tea',
    'Izakaya',
    'Tapas/Small Plates',
    'Tapas Bars',
    'Bartenders',
    'Internet Cafes',
    'Serbo Croatian',
    'Iberian',
    'Sicilian',
    'Acai Bowls',
    'Chinese',
    'Beer Gardens',
    'Scottish',
    'Middle Eastern',
    'Caribbean',
    'Bistros',
    'Pizza',
    'Arabic',
    'Hot Dogs',
    'Fish & Chips',
    'Drive-Thru Bars',
    'African',
    'Distilleries',
    'Asian Fusion',
    'Thai',
    'Wine Bars',
    'Ramen',
    'Brasseries',
    'Russian',
    'Irish Pub',
    'Vegan',
    'Tonkatsu',
    'Hot Pot',
    'Georgian',
    'Cafeteria',
    'Cajun/Creole',
    'Desserts',
    'Bed & Breakfast',
    'Bubble Tea',
    'Wine & Spirits',
    'Bangladeshi',
    'Cupcakes',
    'Cafes',
    'Dominican',
    'Austrian',
    'Cheesesteaks',
    'Gelato',
    'Mexican',
    'Food Stands',
    'Haitian',
    'Halal',
    'Portuguese',
    'Irish',
    'Salvadoran',
    'Seafood',
    'Trinidadian',
    'Dim Sum',
    'French',
    'Tuscan',
    'Teppanyaki',
    'British',
    'Kebab',
    'Korean',
    'Hainan',
    'Specialty Food',
    'Laotian',
    'Polish',
    'Czech',
    'Pop-Up Restaurants',
    'Singaporean',
    'Tiki Bars',
    'Soul Food',
    'Armenian',
    'Dinner Theater',
    'Hookah Bars',
    'Hong Kong Style Cafe',
    'Sardinian',
    'Local Flavor',
    'Waffles',
    'Pancakes',
    'Israeli',
    'Pretzels',
    'Cantonese',
    'Falafel',
    'Empanadas',
    'Chocolatiers & Shops',
    'Champagne Bars',
    'German',
    'Indonesian',
    'Barbeque',
    'Honduran',
    'Dumplings'
}

In [36]:
biz_df.isnull().sum()

business_id         0
name                0
address             0
city                0
state               0
postal_code         0
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
attributes      12348
categories         95
hours           16095
dtype: int64

In [37]:
# Dropping any rows where the categories column is empty 

biz_df.dropna(subset=['categories'], inplace = True)

In [38]:
biz_df.isnull().sum()

business_id         0
name                0
address             0
city                0
state               0
postal_code         0
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
attributes      12254
categories          0
hours           16000
dtype: int64

In [39]:
food_biz = biz_df[biz_df['categories'].str.contains('|'.join(food_categories))]

/var/folders/_g/fyn1m_tx7sbcpb8mtykvz6jw0000gn/T/ipykernel_15116/3492513972.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  food_biz = biz_df[biz_df['categories'].str.contains('|'.join(food_categories))]

In [41]:
food_biz.shape

(53052, 14)

In [42]:
food_biz.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
10,UJsufbvfyfONHeWdvAHKjA,Marshalls,21705 Village Lakes Sc Dr,Land O' Lakes,FL,34639,28.190459,-82.457380,3.5,6,1,"{'RestaurantsPriceRange2': '2', 'BikeParking':...","Department Stores, Shopping, Fashion","{'Monday': '9:30-21:30', 'Tuesday': '9:30-21:3..."

### Expanding the Attributes Column

In [46]:
# Extracting the various Attributes in the Dataset 

attr_df = food_biz['attributes'].apply(pd.Series)

In [50]:
attr_df.head()

,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BusinessParking,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,Alcohol,...,BestNights,BYOB,Corkage,BYOBCorkage,AcceptsInsurance,RestaurantsCounterService,Open24Hours,AgesAllowed,DietaryRestrictions,HairSpecializesIn
3,False,False,False,"{'garage': False, 'street': True, 'validated':...",True,1,True,False,u'free',u'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,True,"{'garage': None, 'street': None, 'validated': ...",True,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,True,True,True,None,False,1,True,False,u'no',u'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,True,True,True,"{'garage': False, 'street': False, 'validated'...",NaN,1,True,False,u'no',u'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,True,"{'garage': False, 'street': False, 'validated'...",True,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
attr_df.columns

Index(['RestaurantsDelivery', 'OutdoorSeating', 'BusinessAcceptsCreditCards',
       'BusinessParking', 'BikeParking', 'RestaurantsPriceRange2',
       'RestaurantsTakeOut', 'ByAppointmentOnly', 'WiFi', 'Alcohol', 'Caters',
       'WheelchairAccessible', 'GoodForKids', 'RestaurantsAttire',
       'RestaurantsReservations', 'Ambience', 'CoatCheck', 'DogsAllowed',
       'RestaurantsTableService', 'RestaurantsGoodForGroups', 'HasTV',
       'HappyHour', 'DriveThru', 'GoodForMeal', 'NoiseLevel',
       'BusinessAcceptsBitcoin', 'Smoking', 'Music', 'GoodForDancing',
       'BestNights', 'BYOB', 'Corkage', 'BYOBCorkage', 'AcceptsInsurance',
       'RestaurantsCounterService', 'Open24Hours', 'AgesAllowed',
       'DietaryRestrictions', 'HairSpecializesIn'],
      dtype='object')

In [54]:
attr_df.drop('HairSpecializesIn', inplace = True, axis = 1)

In [56]:
food_biz.drop('attributes', inplace = True, axis = 1)
food_biz = pd.concat([food_biz, attr_df], axis = 1)

In [57]:
food_biz.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,GoodForDancing,BestNights,BYOB,Corkage,BYOBCorkage,AcceptsInsurance,RestaurantsCounterService,Open24Hours,AgesAllowed,DietaryRestrictions
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,UJsufbvfyfONHeWdvAHKjA,Marshalls,21705 Village Lakes Sc Dr,Land O' Lakes,FL,34639,28.190459,-82.457380,3.5,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# Number of businesses in each state
food_biz['state'].value_counts()

PA     11567
FL      9142
TN      4561
IN      4219
LA      4154
MO      3958
NJ      3420
AZ      2851
AB      2412
NV      1971
ID      1480
CA      1329
IL      1014
DE       972
HI         1
XMS        1
Name: state, dtype: int64

In [65]:
# Checking the number of reviews and the average rating according to the state

group_by_state = food_biz.groupby('state').agg({'stars':'mean', 'review_count':'sum'}).reset_index()
group_by_state.sort_values('review_count', ascending = False).reset_index()

    index state     stars  review_count
0      13    PA  3.540849        933691
1       4    FL  3.572522        731186
2       9    LA  3.657800        557668
3      14    TN  3.472484        408565
4      10    MO  3.480798        313708
5       8    IN  3.509836        301801
6       1    AZ  3.484216        241934
7      12    NV  3.576611        235567
8       2    CA  3.881114        209237
9      11    NJ  3.465351        156617
10      6    ID  3.632095         99490
11      0    AB  3.539179         62982
12      3    DE  3.436728         43720
13      7    IL  3.318540         33759
14      5    HI  3.500000            17
15     15   XMS  4.000000             5

In [68]:
# Checking the total reviews and the average rating according to the city in top 3 states

group_by_PA = food_biz[food_biz['state']=='PA'].groupby('city').agg({'stars':'mean', 'review_count':'sum'}).reset_index()
group_by_PA.sort_values('review_count', ascending = False).reset_index().head(30)

    index              city     stars  review_count
0     194      Philadelphia  3.569234        574595
1     275      West Chester  3.577068         14656
2     127   King of Prussia  3.428058         14628
3     157             Media  3.692913          9730
4      49      Conshohocken  3.538462          9065
5     273             Wayne  3.705000          8858
6     174          New Hope  3.699029          8612
7      56        Doylestown  3.684211          8519
8      10          Bensalem  3.255747          8322
9     176           Newtown  3.695238          7204
10      5           Ardmore  3.726316          7179
11    198      Phoenixville  3.525000          7175
12     72             Exton  3.328125          7131
13    137         Langhorne  3.288288          6933
14    153           Malvern  3.750000          6746
15    179       North Wales  3.468421          6570
16    281      Willow Grove  3.197802          6093
17    138          Lansdale  3.590909          5918
18    178        Norristown  3.531250          5574
19    126   King Of Prussia  3.163462          5547
20     95        Glen Mills  3.671233          5530
21     44      Collegeville  3.664384          5213
22    238       Springfield  3.264423          5187
23    124    Kennett Square  3.781609          5091
24    288           Yardley  3.639344          4859
25    116           Horsham  3.328358          4690
26      3            Ambler  3.708333          4508
27     55       Downingtown  3.506329          4462
28     27         Bryn Mawr  3.602740          4459
29    203  Plymouth Meeting  3.220000          4395

In [69]:
group_by_FL = food_biz[food_biz['state']=='FL'].groupby('city').agg({'stars':'mean', 'review_count':'sum'}).reset_index()
group_by_FL.sort_values('review_count', ascending = False).reset_index().head(30)

    index                city     stars  review_count
0     114               Tampa  3.566710        280833
1      16          Clearwater  3.569945         53257
2      86    Saint Petersburg  3.638132         47089
3     105      St. Petersburg  3.840967         32978
4      11             Brandon  3.448052         26881
5      17    Clearwater Beach  3.673684         18173
6      21             Dunedin  3.915000         17443
7     104      St. Pete Beach  3.724719         15344
8     101       St Petersburg  3.599174         15199
9      42               Largo  3.500000         14589
10     75           Riverview  3.299107         13995
11    136       Wesley Chapel  3.397790         12791
12     61         Palm Harbor  3.645078         12493
13     45                Lutz  3.564171         11384
14    120      Tarpon Springs  3.722222         10836
15     48       Madeira Beach  3.771084         10820
16     69       Pinellas Park  3.502874         10574
17     54     New Port Richey  3.422269          9511
18     98       St Pete Beach  3.852941          9095
19    132     Treasure Island  3.717742          7775
20     31  Indian Rocks Beach  3.828947          7693
21     58             Oldsmar  3.585526          6790
22     91            Seminole  3.564103          5676
23     84       Safety Harbor  4.122222          4920
24     70          Plant City  3.339844          4857
25     71         Port Richey  3.338384          4677
26     95         Spring Hill  3.371711          4579
27    135             Valrico  3.448276          3687
28     77              Ruskin  3.421875          3356
29    122      Temple Terrace  3.392857          3281

In [70]:
group_by_LA = food_biz[food_biz['state']=='LA'].groupby('city').agg({'stars':'mean', 'review_count':'sum'}).reset_index()
group_by_LA.sort_values('review_count', ascending = False).reset_index().head(30)

    index            city     stars  review_count
0      26     New Orleans  3.824870        479413
1      20        Metairie  3.382075         38361
2      16          Kenner  3.140927         13190
3      12          Gretna  3.509615          6741
4      14          Harvey  3.208333          4898
5      18         Marrero  3.191358          2866
6      13         Harahan  3.456140          2855
7       8       Chalmette  3.321429          1660
8      15       Jefferson  3.451613          1511
9      36        Westwego  3.568966          1385
10      4    Belle Chasse  3.444444          1145
11     33       Terrytown  3.586207           906
12     27     River Ridge  3.823529           552
13      1           Arabi  4.038462           418
14      6        Bucktown  4.500000           283
15      9         Elmwood  3.750000           239
16     30      Saint Rose  3.214286           223
17     22         Metarie  3.500000           199
18     34          Violet  3.700000           132
19     19          Meraux  2.916667           110
20      2        Avondale  2.416667            82
21     17          Luling  4.000000            79
22     23     NEW ORLEANS  4.500000            70
23     10  French Quarter  4.500000            69
24     24  NEW ORLEANS AP  1.500000            54
25     21       Metairie   4.000000            53
26      3     Belle Chase  3.250000            38
27     29   Saint Bernard  4.750000            32
28      0         Algiers  1.500000            28
29     28       Riveridge  2.500000            17

In [79]:
food_biz.to_csv('processed_datasets/restaurants.csv', index = False)
food_biz.to_json('processed_datasets/restaurants.json', orient='records', lines = True)

# Preprocessing Reviews Dataset

In [86]:
reviews_path = 'yelp_dataset/yelp_academic_dataset_review.json'
chunksize = 500000
chunks = []

for chunk in pd.read_json(reviews_path, lines = True, chunksize = chunksize):
    rel_data = chunk[['review_id', 'user_id', 'business_id', 'stars', 'text']]
    chunks.append(rel_data)

reviews_df = pd.concat(chunks, axis = 0, ignore_index = True)

In [87]:
reviews_df.head()

,review_id,user_id,business_id,stars,text
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is..."
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,I've taken a lot of spin classes over the year...
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo..."
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,Cute interior and owner (?) gave us tour of up...

In [88]:
reviews_df.shape

(6990280, 5)

### Filtering out Reviews which are not in our Restaurant list

In [89]:
food_reviews = pd.merge(reviews_df, food_biz[['business_id']], on = 'business_id', how = 'inner')
food_reviews.head()

,review_id,user_id,business_id,stars,text
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is..."
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2,This is the second time we tried turning point...
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4,The place is cute and the staff was very frien...
3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3,We came on a Saturday morning after waiting a ...
4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2,"Mediocre at best. The decor is very nice, and ..."

In [91]:
food_reviews.shape

(4480346, 5)

### Preprocessing the Text Column

In [96]:
def preprocess_review_batch(review_batch):
    # Converting to lowercase
    review_batch = review_batch.str.lower()
    # Removing punctuations and specials characters
    review_batch = review_batch.str.replace(r'[^a-zA-Z\s]', '', regex = True)
    # Tokenizing the Text 
    tokens = review_batch.apply(word_tokenize)
    # Removing the stop words 
    tokens = tokens.apply(lambda x: [word for word in x if word not in set(stopwords.words('english'))])
    # Lemmatizing the tokens
    lemmatizer = WordNetLemmatizer()
    tokens = tokens.apply(lambda x: [lemmatizer.lemmatize(word) for word in x])
    processed_review = tokens.apply(lambda x: ' '.join(x))
    return processed_review

batch_size = 100000

processed_chunks = []

# Process the text column in batches
for i in range(0, len(food_reviews), batch_size):
    review_batch = food_reviews.iloc[i:i+batch_size]['text']
    processed_chunk = preprocess_review_batch(review_batch)
    processed_chunks.append(processed_chunk)

processed_text_series = pd.concat(processed_chunks, ignore_index=True)

# Add processed text back to reviews_df
food_reviews['processed_text'] = processed_text_series

In [97]:
food_reviews

,review_id,user_id,business_id,stars,text,processed_text
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is...",decide eat aware going take hour beginning end...
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2,This is the second time we tried turning point...,second time tried turning point location first...
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4,The place is cute and the staff was very frien...,place cute staff friendly nice menu good brunc...
3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3,We came on a Saturday morning after waiting a ...,came saturday morning waiting month opening ho...
4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2,"Mediocre at best. The decor is very nice, and ...",mediocre best decor nice like restaurant tryin...
...,...,...,...,...,...,...
4480341,qMMSJ2se0-G-V9K7y96EbQ,a4wr0eMRHjFqI66JoGpXog,Tj9FmBCHd84kjAE9vcoBnw,1,I've always gone to this location for two reas...,ive always gone location two reason dont water...
4480342,WooR8MihE_bJ3qnYbDjizw,-MZSr4VErbuvzm8c5z2gbQ,Tj9FmBCHd84kjAE9vcoBnw,2,This particular location is so painfully slow....,particular location painfully slowalways chick...
4480343,QLVR6EcBV2lD2JpJrP9N_Q,k5RiHhMsd7zT6gO-sa8CiQ,Tj9FmBCHd84kjAE9vcoBnw,1,The owner is the biggest a-hole ever! He gave ...,owner biggest ahole ever gave much attitude in...
4480344,cf3ft8457oGoiu9rW49cDQ,cS5J5Lw1xECApPjmk6dyJg,Tj9FmBCHd84kjAE9vcoBnw,1,Ask for Breasts and I'm always told there are ...,ask breast im always told none chicken chicken...
4480345,nGLcmo0D3IKrqqgK1kutlA,baGaUEUuXYQvTR9h4n9VKw,Tj9FmBCHd84kjAE9vcoBnw,1,The chicken we ordered was cold wasn't even a ...,chicken ordered cold wasnt even full chicken p...

In [98]:
food_reviews.drop('text', axis = 1, inplace = True)

In [99]:
food_reviews.shape

(4480346, 5)

In [100]:
food_reviews.head()

,review_id,user_id,business_id,stars,processed_text
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,decide eat aware going take hour beginning end...
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2,second time tried turning point location first...
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4,place cute staff friendly nice menu good brunc...
3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3,came saturday morning waiting month opening ho...
4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2,mediocre best decor nice like restaurant tryin...

In [101]:
food_reviews.to_csv('processed_datasets/restaurant_reviews.csv', index = False)

In [139]:
food_biz.shape

(53052, 51)

In [103]:
food_reviews.shape

(4480346, 5)

# Preprocessing Users Dataset

In [125]:
users_path = 'yelp_dataset/yelp_academic_dataset_user.json'
chunksize = 500000
chunks = []

with tqdm() as pbar:
    for chunk in pd.read_json(users_path, lines = True, chunksize = chunksize):
        rel_data = chunk[['user_id', 'name', 'review_count', 'friends', 'fans', 'average_stars']]
        chunks.append(rel_data)
    
        pbar.update(1)

users_df = pd.concat(chunks, axis = 0, ignore_index = True)

python(46732) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.
4it [03:06, 46.75s/it]

In [127]:
users_df.head()

,user_id,name,review_count,friends,fans,average_stars
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,3.91
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,3.74
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,3.32
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,4.27
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,3.54

In [128]:
users_df.shape

(1987897, 6)

### Filtering out users who have reviews for Restaurants only

In [130]:
merged_df = pd.merge(users_df, food_reviews[['user_id']], on='user_id', how='inner')
restaurant_users = merged_df.drop_duplicates(subset='user_id', keep='first')
restaurant_users.reset_index(drop=True, inplace=True)

restaurant_users.head()

,user_id,name,review_count,friends,fans,average_stars
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,3.91
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,3.74
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,3.32
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,4.27
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,3.54

In [138]:
restaurant_users.shape

(1450144, 6)

In [140]:
restaurant_users.to_csv('processed_datasets/restaurant_users.csv', index = False)

# Philadelphia

In [105]:
biz_philli = food_biz[food_biz['city'] == 'Philadelphia']
biz_philli.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,GoodForDancing,BestNights,BYOB,Corkage,BYOBCorkage,AcceptsInsurance,RestaurantsCounterService,Open24Hours,AgesAllowed,DietaryRestrictions
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,Philadelphia,PA,19104,39.954573,-75.194894,3.0,56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
biz_philli.shape

(5078, 51)

In [107]:
reviews_philli = pd.merge(food_reviews, biz_philli[['business_id']], on = 'business_id', how = 'inner')
reviews_philli.head()

,review_id,user_id,business_id,stars,processed_text
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,wow yummy different delicious favorite lamb cu...
1,HME_ksGph3se7Aze5hxa-Q,kSMOJwJXuEUqzfmuFncK4A,kxX2SOes4o-D3ZQBkiMRfA,2,dinein get star disappointing service venue fa...
2,EJWyA5wpdVMji1j4TwSZqQ,mqBWACmaHflW4eh_Ofp16Q,kxX2SOes4o-D3ZQBkiMRfA,5,long hiatus reviewing awaken mouth yelp hibern...
3,T_kAb2NeylB-JdNDKphryw,Z-xgVb4nM42943m2wbBkFw,kxX2SOes4o-D3ZQBkiMRfA,5,weve eaten time seems time get even better shr...
4,NENaCqb6TNj5CyY1LOdI6Q,2SEoXb6r6hPKrl9V9VzBgA,kxX2SOes4o-D3ZQBkiMRfA,5,came philly family event stayed little dinner ...

In [109]:
reviews_philli.shape

(592565, 5)

In [16]:
nltk.download('vader_lexicon')
sia = SentimentIntensityAnalyzer()
def get_sentiment_scores(text):
    sentiment = sia.polarity_scores(text)
    return sentiment['compound']

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/kirthanpakki/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [113]:
reviews_philli['sentiment_scores'] = reviews_philli['processed_text'].apply(get_sentiment_scores)

In [119]:
reviews_philli.head()

,review_id,user_id,business_id,stars,processed_text,sentiment_scores
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,wow yummy different delicious favorite lamb cu...,0.9652
1,HME_ksGph3se7Aze5hxa-Q,kSMOJwJXuEUqzfmuFncK4A,kxX2SOes4o-D3ZQBkiMRfA,2,dinein get star disappointing service venue fa...,0.0516
2,EJWyA5wpdVMji1j4TwSZqQ,mqBWACmaHflW4eh_Ofp16Q,kxX2SOes4o-D3ZQBkiMRfA,5,long hiatus reviewing awaken mouth yelp hibern...,0.9932
3,T_kAb2NeylB-JdNDKphryw,Z-xgVb4nM42943m2wbBkFw,kxX2SOes4o-D3ZQBkiMRfA,5,weve eaten time seems time get even better shr...,0.9263
4,NENaCqb6TNj5CyY1LOdI6Q,2SEoXb6r6hPKrl9V9VzBgA,kxX2SOes4o-D3ZQBkiMRfA,5,came philly family event stayed little dinner ...,0.7533

In [121]:
reviews_philli['final_rating'] = reviews_philli['stars'] + reviews_philli['sentiment_scores']

In [122]:
reviews_philli.head()

,review_id,user_id,business_id,stars,processed_text,sentiment_scores,final_rating
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,wow yummy different delicious favorite lamb cu...,0.9652,5.9652
1,HME_ksGph3se7Aze5hxa-Q,kSMOJwJXuEUqzfmuFncK4A,kxX2SOes4o-D3ZQBkiMRfA,2,dinein get star disappointing service venue fa...,0.0516,2.0516
2,EJWyA5wpdVMji1j4TwSZqQ,mqBWACmaHflW4eh_Ofp16Q,kxX2SOes4o-D3ZQBkiMRfA,5,long hiatus reviewing awaken mouth yelp hibern...,0.9932,5.9932
3,T_kAb2NeylB-JdNDKphryw,Z-xgVb4nM42943m2wbBkFw,kxX2SOes4o-D3ZQBkiMRfA,5,weve eaten time seems time get even better shr...,0.9263,5.9263
4,NENaCqb6TNj5CyY1LOdI6Q,2SEoXb6r6hPKrl9V9VzBgA,kxX2SOes4o-D3ZQBkiMRfA,5,came philly family event stayed little dinner ...,0.7533,5.7533

In [123]:
reviews_philli.to_csv('processed_datasets/philadelphia/reviews_philli.csv', index = False)
biz_philli.to_csv('processed_datasets/philadelphia/restuarants_philli.csv', index = False)

In [141]:
users_philli = pd.merge(restaurant_users, reviews_philli[['user_id']], on='user_id', how='inner')
users_philli = users_philli.drop_duplicates(subset='user_id', keep='first')
users_philli.reset_index(drop=True, inplace=True)

In [142]:
users_philli.shape

(199676, 6)

In [143]:
users_philli.to_csv('processed_datasets/philadelphia/users_philli.csv', index = False)

### Creating the Item-User Matrix

In [144]:
reviews_philli.head()

,review_id,user_id,business_id,stars,processed_text,sentiment_scores,final_rating
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,wow yummy different delicious favorite lamb cu...,0.9652,5.9652
1,HME_ksGph3se7Aze5hxa-Q,kSMOJwJXuEUqzfmuFncK4A,kxX2SOes4o-D3ZQBkiMRfA,2,dinein get star disappointing service venue fa...,0.0516,2.0516
2,EJWyA5wpdVMji1j4TwSZqQ,mqBWACmaHflW4eh_Ofp16Q,kxX2SOes4o-D3ZQBkiMRfA,5,long hiatus reviewing awaken mouth yelp hibern...,0.9932,5.9932
3,T_kAb2NeylB-JdNDKphryw,Z-xgVb4nM42943m2wbBkFw,kxX2SOes4o-D3ZQBkiMRfA,5,weve eaten time seems time get even better shr...,0.9263,5.9263
4,NENaCqb6TNj5CyY1LOdI6Q,2SEoXb6r6hPKrl9V9VzBgA,kxX2SOes4o-D3ZQBkiMRfA,5,came philly family event stayed little dinner ...,0.7533,5.7533

In [148]:
reviews_philli.drop(columns = ['stars', 'processed_text','sentiment_scores'], axis = 1, inplace=True)

In [149]:
reviews_philli.head()

,review_id,user_id,business_id,final_rating
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.9652
1,HME_ksGph3se7Aze5hxa-Q,kSMOJwJXuEUqzfmuFncK4A,kxX2SOes4o-D3ZQBkiMRfA,2.0516
2,EJWyA5wpdVMji1j4TwSZqQ,mqBWACmaHflW4eh_Ofp16Q,kxX2SOes4o-D3ZQBkiMRfA,5.9932
3,T_kAb2NeylB-JdNDKphryw,Z-xgVb4nM42943m2wbBkFw,kxX2SOes4o-D3ZQBkiMRfA,5.9263
4,NENaCqb6TNj5CyY1LOdI6Q,2SEoXb6r6hPKrl9V9VzBgA,kxX2SOes4o-D3ZQBkiMRfA,5.7533

In [145]:
biz_philli.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,GoodForDancing,BestNights,BYOB,Corkage,BYOBCorkage,AcceptsInsurance,RestaurantsCounterService,Open24Hours,AgesAllowed,DietaryRestrictions
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,Philadelphia,PA,19104,39.954573,-75.194894,3.0,56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
res_philli = biz_philli[['business_id', 'name', 'stars']]

In [156]:
res_philli.head()

               business_id                name  stars
3   MTSW4McQd7CbVtyjqoe9mw  St Honore Pastries    4.0
15  MUTTqe8uqyMdBl186RmNeA            Tuna Bar    4.0
19  ROeacJQwBeh05Rqg7F6TCg                 BAP    4.5
35  aPNXGTDkf-4bjhyMBQxqpQ          Craft Hall    3.5
82  ppFCk9aQkM338Rgwpl2F5A                Wawa    3.0

In [146]:
users_philli.head()

,user_id,name,review_count,friends,fans,average_stars
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,3.91
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,3.74
2,q_QQ5kBBwlCcbL1s4NVK3g,Jane,1221,"xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...",1357,3.85
3,AUi8MPWJ0mLkMfwbui27lg,John,109,"gy5fWeSv3Gamuq9Ox4MV4g, lMr3LWU6kPFLTmCpDkACxg...",4,3.40
4,1McG5Rn_UDkmlkZOrsdptg,Teresa,7,"piejMEdRkGB7-1aL4lL5NQ, X0zFOU6iG95-feQKOXkgrA...",1,4.29

In [150]:
users_philli.drop(columns = ['review_count', 'friends', 'fans'], axis = 1, inplace = True)

In [151]:
users_philli.head()

                  user_id    name  average_stars
0  qVc8ODYU5SZjKXVBgXdI7w  Walker           3.91
1  j14WgRoU_-2ZE1aw1dXrJg  Daniel           3.74
2  q_QQ5kBBwlCcbL1s4NVK3g    Jane           3.85
3  AUi8MPWJ0mLkMfwbui27lg    John           3.40
4  1McG5Rn_UDkmlkZOrsdptg  Teresa           4.29

In [158]:
# Merge reviews_philli with users_philli to get user information
merged_df = pd.merge(reviews_philli, users_philli, on='user_id', how='left')

# Merge merged_df with res_philli to get restaurant information
merged_df = pd.merge(merged_df, res_philli, on='business_id', how='left')

# Select relevant columns for the User-Item Ratings matrix
ratings_df = merged_df[['user_id', 'business_id', 'final_rating']]

# Aggregate duplicate entries by taking the mean of the ratings for each combination of user_id and business_id.
ratings_df = ratings_df.groupby(['user_id', 'business_id']).mean().reset_index()

# Pivot the DataFrame to create the User-Item Ratings matrix
ratings_matrix = ratings_df.pivot(index='user_id', columns='business_id', values='final_rating')

# Display the resulting ratings matrix
print(ratings_matrix)

business_id             --OS_I7dnABrXvRCCuWOGQ  --sXnWH9Xm6_NvIjyuA99w  \
user_id
--2tyArRmSoyKx5r-FVG0A                     NaN                     NaN
--2vR0DIsmQ6WfcSzKWigw                     NaN                     NaN
--4AjktZiHowEIBCMd4CZA                     NaN                     NaN
--4_p6Z3tKadJcr9Non_Vw                     NaN                     NaN
--6GckBYtTa4hj8pT09oAg                     NaN                     NaN
...                                        ...                     ...
zzvCl_egPyWpxO7EvWc2IA                     NaN                     NaN
zzvLsOhm7gBMQDygMBDrHg                     NaN                     NaN
zzwYLnmIvj8C7wJmRjtkRA                     NaN                     NaN
zzx7J3zheFF3zf5YYfDAMg                     NaN                     NaN
zzzMBVS73g3ZJ7qL8JyhiA                     NaN                     NaN

business_id             -0TffRSXXIlBYVbb5AwfTg  -1B9pP_CrRBJYPICE5WbRA  \
user_id
--2tyArRmSoyKx5r-FVG0A                     NaN                     NaN
--2vR0DIsmQ6WfcSzKWigw                     NaN                     NaN
--4AjktZiHowEIBCMd4CZA                     NaN                     NaN
--4_p6Z3tKadJcr9Non_Vw                     NaN                     NaN
--6GckBYtTa4hj8pT09oAg                     NaN                     NaN
...                                        ...                     ...
zzvCl_egPyWpxO7EvWc2IA                     NaN                     NaN
zzvLsOhm7gBMQDygMBDrHg                     NaN                     NaN
zzwYLnmIvj8C7wJmRjtkRA                     NaN                     NaN
zzx7J3zheFF3zf5YYfDAMg                     NaN                     NaN
zzzMBVS73g3ZJ7qL8JyhiA                     NaN                     NaN

business_id             -1DxQ1CxSc_JCxzKm9bglg  -3ArWZfDjfab8qVHf3WVtg  \
user_id
--2tyArRmSoyKx5r-FVG0A                     NaN                     NaN
--2vR0DIsmQ6WfcSzKWigw                     NaN                     NaN
--4AjktZiHowEIBCMd4CZA                     NaN                     NaN
--4_p6Z3tKadJcr9Non_Vw                     NaN                     NaN
--6GckBYtTa4hj8pT09oAg                     NaN                     NaN
...                                        ...                     ...
zzvCl_egPyWpxO7EvWc2IA                     NaN                     NaN
zzvLsOhm7gBMQDygMBDrHg                     NaN                     NaN
zzwYLnmIvj8C7wJmRjtkRA                     NaN                     NaN
zzx7J3zheFF3zf5YYfDAMg                     NaN                     NaN
zzzMBVS73g3ZJ7qL8JyhiA                     NaN                     NaN

business_id             -3e3CP3FFc-rvJj_-_airw  -3m_nXlyvdKAVNNmVirpGQ  \
user_id
--2tyArRmSoyKx5r-FVG0A                     NaN                     NaN
--2vR0DIsmQ6WfcSzKWigw                  3.1481                     NaN
--4AjktZiHowEIBCMd4CZA                     NaN                     NaN
--4_p6Z3tKadJcr9Non_Vw                     NaN                     NaN
--6GckBYtTa4hj8pT09oAg                     NaN                     NaN
...                                        ...                     ...
zzvCl_egPyWpxO7EvWc2IA                     NaN                     NaN
zzvLsOhm7gBMQDygMBDrHg                     NaN                     NaN
zzwYLnmIvj8C7wJmRjtkRA                     NaN                     NaN
zzx7J3zheFF3zf5YYfDAMg                     NaN                     NaN
zzzMBVS73g3ZJ7qL8JyhiA                     NaN                     NaN

business_id             -5Rah4ZvWsDu4oilUZxhtw  -63ytt5vkWof-M9NDGTkng  ...  \
user_id                                                                 ...
--2tyArRmSoyKx5r-FVG0A                     NaN                     NaN  ...
--2vR0DIsmQ6WfcSzKWigw                     NaN                     NaN  ...
--4AjktZiHowEIBCMd4CZA                     NaN                     NaN  ...
--4_p6Z3tKadJcr9Non_Vw                     NaN                     NaN  ...
--6GckBYtTa4hj8pT09oAg                     NaN                     NaN  ...
...                                        ...                     ...  ...
zzvCl_egPyWpxO7EvWc2IA                     NaN                     NaN  ...
zzvLsOhm7gBMQDygMBDrHg                     NaN                     NaN  ...
zzwYLnmIvj8C7wJmRjtkRA                     NaN                     NaN  ...
zzx7J3zheFF3zf5YYfDAMg                     NaN                     NaN  ...
zzzMBVS73g3ZJ7qL8JyhiA                     NaN                     NaN  ...

business_id             zuKnCtZQKZqnvEaKVnwVVQ  zucC7rHpXPYBu7aEqj0NUw  \
user_id
--2tyArRmSoyKx5r-FVG0A                     NaN                     NaN
--2vR0DIsmQ6WfcSzKWigw                     NaN                     NaN
--4AjktZiHowEIBCMd4CZA                     NaN                     NaN
--4_p6Z3tKadJcr9Non_Vw                     NaN                     NaN
--6GckBYtTa4hj8pT09oAg                     NaN                     NaN
...                                        ...                     ...
zzvCl_egPyWpxO7EvWc2IA                     NaN                     NaN
zzvLsOhm7gBMQDygMBDrHg                     NaN                     NaN
zzwYLnmIvj8C7wJmRjtkRA                     NaN                     NaN
zzx7J3zheFF3zf5YYfDAMg                     NaN                     NaN
zzzMBVS73g3ZJ7qL8JyhiA                     NaN                     NaN

business_id             zujdPV3HT-Y-CKE1GgkMHQ  zvvl3c1FO3O3BZdhusficA  \
user_id
--2tyArRmSoyKx5r-FVG0A                     NaN                     NaN
--2vR0DIsmQ6WfcSzKWigw                     NaN                     NaN
--4AjktZiHowEIBCMd4CZA                     NaN                     NaN
--4_p6Z3tKadJcr9Non_Vw                     NaN                     NaN
--6GckBYtTa4hj8pT09oAg                     NaN                     NaN
...                                        ...                     ...
zzvCl_egPyWpxO7EvWc2IA                     NaN                     NaN
zzvLsOhm7gBMQDygMBDrHg                     NaN                     NaN
zzwYLnmIvj8C7wJmRjtkRA                     NaN                     NaN
zzx7J3zheFF3zf5YYfDAMg                     NaN                     NaN
zzzMBVS73g3ZJ7qL8JyhiA                     NaN                     NaN

business_id             zwTmOj4B_OVPMTMYijQiKg  zwd4dyQ5ovnjVojWfAuhMw  \
user_id
--2tyArRmSoyKx5r-FVG0A                     NaN                     NaN
--2vR0DIsmQ6WfcSzKWigw                     NaN                     NaN
--4AjktZiHowEIBCMd4CZA                     NaN                     NaN
--4_p6Z3tKadJcr9Non_Vw                     NaN                     NaN
--6GckBYtTa4hj8pT09oAg                     NaN                     NaN
...                                        ...                     ...
zzvCl_egPyWpxO7EvWc2IA                     NaN                     NaN
zzvLsOhm7gBMQDygMBDrHg                     NaN                     NaN
zzwYLnmIvj8C7wJmRjtkRA                     NaN                     NaN
zzx7J3zheFF3zf5YYfDAMg                     NaN                     NaN
zzzMBVS73g3ZJ7qL8JyhiA                     NaN                     NaN

business_id             zxRmQ_FWVowh8rlzLCSURQ  zxY4DgtXsVHihSUpsmwamg  \
user_id
--2tyArRmSoyKx5r-FVG0A                     NaN                     NaN
--2vR0DIsmQ6WfcSzKWigw                     NaN                     NaN
--4AjktZiHowEIBCMd4CZA                     NaN                     NaN
--4_p6Z3tKadJcr9Non_Vw                     NaN                     NaN
--6GckBYtTa4hj8pT09oAg                     NaN                     NaN
...                                        ...                     ...
zzvCl_egPyWpxO7EvWc2IA                     NaN                     NaN
zzvLsOhm7gBMQDygMBDrHg                     NaN                     NaN
zzwYLnmIvj8C7wJmRjtkRA                     NaN                     NaN
zzx7J3zheFF3zf5YYfDAMg                     NaN                     NaN
zzzMBVS73g3ZJ7qL8JyhiA                     NaN                     NaN

business_id             zy2p8yfx_fgXMCCUo8nWsA  zz3E7kmJI2r2JseE6LAnrw
user_id
--2tyArRmSoyKx5r-FVG0A                     NaN                     NaN
--2vR0DIsmQ6WfcSzKWigw                     NaN                     NaN
--4AjktZiHowEIBCMd4CZA                     NaN                     NaN
--4_p6Z3tKadJcr9Non_Vw                     NaN                     NaN
--6GckBYtTa4hj8pT09oAg                     NaN                     NaN
...                                        ...                     ...
zzvCl_egPyWpxO7EvWc2IA                     NaN                     NaN
zzvLsOhm7gBMQDygMBDrHg                     NaN                     NaN
zzwYLnmIvj8C7wJmRjtkRA                     NaN                     NaN
zzx7J3zheFF3zf5YYfDAMg                     NaN                     NaN
zzzMBVS73g3ZJ7qL8JyhiA                     NaN                     NaN

[199676 rows x 5078 columns]

In [160]:
ratings_matrix.head()

business_id,--OS_I7dnABrXvRCCuWOGQ,--sXnWH9Xm6_NvIjyuA99w,-0TffRSXXIlBYVbb5AwfTg,-1B9pP_CrRBJYPICE5WbRA,-1DxQ1CxSc_JCxzKm9bglg,-3ArWZfDjfab8qVHf3WVtg,-3e3CP3FFc-rvJj_-_airw,-3m_nXlyvdKAVNNmVirpGQ,-5Rah4ZvWsDu4oilUZxhtw,-63ytt5vkWof-M9NDGTkng,...,zuKnCtZQKZqnvEaKVnwVVQ,zucC7rHpXPYBu7aEqj0NUw,zujdPV3HT-Y-CKE1GgkMHQ,zvvl3c1FO3O3BZdhusficA,zwTmOj4B_OVPMTMYijQiKg,zwd4dyQ5ovnjVojWfAuhMw,zxRmQ_FWVowh8rlzLCSURQ,zxY4DgtXsVHihSUpsmwamg,zy2p8yfx_fgXMCCUo8nWsA,zz3E7kmJI2r2JseE6LAnrw
user_id,,,,,,,,,,,,,,,,,,,,,
--2tyArRmSoyKx5r-FVG0A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--2vR0DIsmQ6WfcSzKWigw,NaN,NaN,NaN,NaN,NaN,NaN,3.1481,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--4AjktZiHowEIBCMd4CZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--4_p6Z3tKadJcr9Non_Vw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--6GckBYtTa4hj8pT09oAg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
user_item_ratings = ratings_matrix.values

In [164]:
ratings_matrix.to_csv('processed_datasets/philadelphia/ratings_matrix_philli.csv')

# Tampa

In [3]:
food_biz = pd.read_csv('processed_datasets/restaurants.csv')

/var/folders/_g/fyn1m_tx7sbcpb8mtykvz6jw0000gn/T/ipykernel_53309/1591363343.py:1: DtypeWarning: Columns (18,47) have mixed types. Specify dtype option on import or set low_memory=False.
  food_biz = pd.read_csv('processed_datasets/restaurants.csv')

In [6]:
reviews_path = 'processed_datasets/restaurant_reviews.csv'
chunksize = 500000
chunks = []

for chunk in pd.read_csv(reviews_path, chunksize = chunksize):
    chunks.append(chunk)

food_reviews = pd.concat(chunks, axis = 0, ignore_index = True)

In [7]:
food_reviews.head()

,review_id,user_id,business_id,stars,processed_text
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,decide eat aware going take hour beginning end...
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2,second time tried turning point location first...
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4,place cute staff friendly nice menu good brunc...
3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3,came saturday morning waiting month opening ho...
4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2,mediocre best decor nice like restaurant tryin...

In [8]:
food_reviews.shape

(4480346, 5)

In [9]:
users_path = 'processed_datasets/restaurant_users.csv'
chunksize = 500000
chunks = []

for chunk in pd.read_csv(users_path, chunksize = chunksize):
    chunks.append(chunk)

res_users = pd.concat(chunks, axis = 0, ignore_index = True)

In [11]:
res_users.head()

,user_id,name,review_count,friends,fans,average_stars
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,3.91
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,3.74
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,3.32
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,4.27
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,3.54

In [10]:
res_users.shape

(1450144, 6)

In [12]:
biz_tampa = food_biz[food_biz['city'] == 'Tampa']
biz_tampa.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,GoodForDancing,BestNights,BYOB,Corkage,BYOBCorkage,AcceptsInsurance,RestaurantsCounterService,Open24Hours,AgesAllowed,DietaryRestrictions
21,0qNpTGTcqPwOLi2hADx4Xw,Charlie's Market,2815 E Sligh Ave,Tampa,FL,33610,28.010360,-82.430042,3.0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,RK6-cJ9hj53RzOlCBmpT-g,Impasto,NaN,Tampa,FL,33611,27.890814,-82.502346,5.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,zFvqulgAYOpSG2t1v8AZ-w,The Cake Drip,1625 W Snow Cir,Tampa,FL,33606,27.935753,-82.476470,4.0,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,QjV4v7q_pt7tt3K1US7IHg,PDQ Temple Terrace,5112 E Fowler Ave,Tampa,FL,33617,28.054888,-82.399548,3.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,Ucl9Vo5lwrUmYbV8Dv8X5g,O'Briens Irish Pub,15435 N Dale Mabry Hwy,Tampa,FL,33618,28.092360,-82.500588,4.0,108,...,True,"{'monday': False, 'tuesday': False, 'friday': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
biz_tampa.shape

(3043, 51)

In [14]:
reviews_tampa = pd.merge(food_reviews, biz_tampa[['business_id']], on = 'business_id', how = 'inner')
reviews_tampa.head()

,review_id,user_id,business_id,stars,processed_text
0,OAhBYw8IQ6wlfw1owXWRWw,1C2lxzUo1Hyye4RFIXly3g,BVndHaLihEYbr76Z0CMEGw,5,great place breakfast waffle fluffy perfect ho...
1,R3TNDNoRUiVfRgvvczy0mg,-Dt5o6GpQcXQfVeWpHNtDg,BVndHaLihEYbr76Z0CMEGw,5,came based recommendation received street does...
2,OZpHUjMx5vyK0Hn2Uim_AQ,kiTsCsc_vtGXnzVz738w2g,BVndHaLihEYbr76Z0CMEGw,5,found place searching yelp definitely good pla...
3,dmjtUSlyc-3EA1Tv26AWJw,NKFBcrL56W7eHxPXxyPTxA,BVndHaLihEYbr76Z0CMEGw,2,supper pm disappointed ordered waitress nice c...
4,kcV2upXjWLWuJPAt9QICbw,ZuF1R91KH924zJwPTmFi4g,BVndHaLihEYbr76Z0CMEGw,4,good little mom pop breakfast place food reall...

In [15]:
reviews_tampa.shape

(290145, 5)

In [23]:
reviews_tampa['processed_text'] = reviews_tampa['processed_text'].astype(str)
reviews_tampa['sentiment_scores'] = reviews_tampa['processed_text'].apply(get_sentiment_scores)
reviews_tampa['final_rating'] = reviews_tampa['stars'] + reviews_tampa['sentiment_scores']

In [27]:
reviews_tampa.head()

,review_id,user_id,business_id,stars,processed_text,sentiment_scores,final_rating
0,OAhBYw8IQ6wlfw1owXWRWw,1C2lxzUo1Hyye4RFIXly3g,BVndHaLihEYbr76Z0CMEGw,5,great place breakfast waffle fluffy perfect ho...,0.9477,5.9477
1,R3TNDNoRUiVfRgvvczy0mg,-Dt5o6GpQcXQfVeWpHNtDg,BVndHaLihEYbr76Z0CMEGw,5,came based recommendation received street does...,0.9310,5.9310
2,OZpHUjMx5vyK0Hn2Uim_AQ,kiTsCsc_vtGXnzVz738w2g,BVndHaLihEYbr76Z0CMEGw,5,found place searching yelp definitely good pla...,0.9823,5.9823
3,dmjtUSlyc-3EA1Tv26AWJw,NKFBcrL56W7eHxPXxyPTxA,BVndHaLihEYbr76Z0CMEGw,2,supper pm disappointed ordered waitress nice c...,0.9175,2.9175
4,kcV2upXjWLWuJPAt9QICbw,ZuF1R91KH924zJwPTmFi4g,BVndHaLihEYbr76Z0CMEGw,4,good little mom pop breakfast place food reall...,0.9432,4.9432

In [28]:
users_tampa = pd.merge(res_users, reviews_tampa[['user_id']], on='user_id', how='inner')
users_tampa = users_tampa.drop_duplicates(subset='user_id', keep='first')
users_tampa.reset_index(drop=True, inplace=True)

In [29]:
users_tampa.head()

,user_id,name,review_count,friends,fans,average_stars
0,FT9CFS39sjZxVjCTrDHmdg,Stephanie,201,"ElaFwOTdEpkiYPkHMpOwXQ, nbnftigv3fj8oS6k-waLYQ...",5,3.52
1,OlJ9vcVFB1iEKcZO-MS3cQ,Joz Joz Joz,348,"iBeN7TtSJrq-dLwj-EevFw, oSN3M4_WKdlTsnpgqPDiBg...",116,3.93
2,NIhcRW6DWvk1JQhDhXwgOQ,Lia,2288,"T1upaPMzuW7pNj74fO1rjA, CP28puvAEimt4ziuGTDaHA...",345,3.69
3,rppTTi-kfF8-qyiArNemag,Helen,460,"HzoQKKHDq9BI37dyJAAtGA, Inh7WS8hpmiUmNDhtLK-ZQ...",49,3.33
4,QJI9OSEn6ujRCtrX06vs1w,J,1982,"RyPeT_ICAtX8ah9dhDpEFw, W8r4aKPZFT3GPIQQDbqB6Q...",316,3.61

In [30]:
users_tampa.shape

(115755, 6)

In [32]:
reviews_tampa.to_csv('processed_datasets/tampa/reviews_tampa.csv', index = False)
biz_tampa.to_csv('processed_datasets/tampa/restuarants_tampa.csv', index = False)
users_tampa.to_csv('processed_datasets/tampa/users_tampa.csv', index = False)

### Creating the Item-User Matrix

In [33]:
reviews_tampa.drop(columns = ['stars', 'processed_text','sentiment_scores'], axis = 1, inplace=True)
res_tampa = biz_tampa[['business_id', 'name', 'stars']]
users_tampa.drop(columns = ['review_count', 'friends', 'fans'], axis = 1, inplace = True)

In [36]:
# Merge reviews_philli with users_philli to get user information
merged_df = pd.merge(reviews_tampa, users_tampa, on='user_id', how='left')

# Merge merged_df with res_philli to get restaurant information
merged_df = pd.merge(merged_df, res_tampa, on='business_id', how='left')

# Select relevant columns for the User-Item Ratings matrix
ratings_df = merged_df[['user_id', 'business_id', 'final_rating']]

# Aggregate duplicate entries by taking the mean of the ratings for each combination of user_id and business_id.
ratings_df = ratings_df.groupby(['user_id', 'business_id']).mean().reset_index()

# Pivot the DataFrame to create the User-Item Ratings matrix
ratings_matrix = ratings_df.pivot(index='user_id', columns='business_id', values='final_rating')

ratings_matrix.head()

business_id,--eBbs3HpZYIym5pEw8Qdw,--pDYWb4DzqKdAdrPcxuaA,--rS-rnOIZxoiDA8yctWpQ,-0oPt7sSKtJG1ysLwV_E9g,-1oygVebK81K8JEPI6H6Lw,-2CPhK6ik9ZBgFX_F-dkxQ,-2dvQxx3cYXd5XmFdDDsDA,-2wh7NTLkWEgsrLJvilnFQ,-34c4hcDPIInTROr8Xtxtw,-361Hc0tlxSYdrH_C3OgzA,...,zjqh_qoBS1BWVSbC51BNjw,znsHfZ2seiCAiO8NGQm8-Q,zo5Ha3Julfnqy3nUKJYimA,zqdwAXPPIu3pRo0kHA6tVQ,zr0g9qn3bf_8c4WTeaI9iw,ztnYPn2w0R4lEJL266apzg,ztppjLmFE25wZOQdJKXAuA,zuObDJ16rxyt5ciCbhKnlA,zwBvdDWFQpYJE1UMDTlSyw,zxtkbSchfaqY1TpZ7KnmKA
user_id,,,,,,,,,,,,,,,,,,,,,
---2PmXbF47D870stH1jqA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--1oZcRo9-QKOtTqREKB6g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--238OiSJBDIhfqcSOQyMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--2bpE5vyR-2hAP7sZZ4lA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--338aogPBCUUKGRHrB14w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
ratings_matrix.shape

(115757, 3043)

In [38]:
ratings_matrix.to_csv('processed_datasets/tampa/ratings_matrix_tampa.csv')

In [39]:
group_by_state = food_biz.groupby('state').agg({'stars':'mean', 'review_count':'sum'}).reset_index()
group_by_state.sort_values('review_count', ascending = False).reset_index()

    index state     stars  review_count
0      13    PA  3.540849        933691
1       4    FL  3.572522        731186
2       9    LA  3.657800        557668
3      14    TN  3.472484        408565
4      10    MO  3.480798        313708
5       8    IN  3.509836        301801
6       1    AZ  3.484216        241934
7      12    NV  3.576611        235567
8       2    CA  3.881114        209237
9      11    NJ  3.465351        156617
10      6    ID  3.632095         99490
11      0    AB  3.539179         62982
12      3    DE  3.436728         43720
13      7    IL  3.318540         33759
14      5    HI  3.500000            17
15     15   XMS  4.000000             5

In [59]:
group_by_FL = food_biz[food_biz['state']=='TN'].groupby('city').agg({'stars':'mean', 'review_count':'sum'}).reset_index()
group_by_FL.sort_values('review_count', ascending = False).reset_index().head(30)

    index              city     stars  review_count
0      34         Nashville  3.564888        309102
1      12          Franklin  3.539387         34742
2       6         Brentwood  3.441989         13007
3      18    Hendersonville  3.377907          9006
4      42            Smyrna  3.261364          6596
5      19         Hermitage  3.099010          5669
6       0           Antioch  3.005051          4792
7      28      Mount Juliet  3.429348          4647
8      27           Madison  3.005952          3243
9      15    Goodlettsville  3.325843          2988
10     37       Nolensville  3.770270          2157
11     13          Gallatin  3.191358          2107
12     30        Mt. Juliet  3.614286          1606
13     45       White House  3.166667          1404
14     29         Mt Juliet  2.843750          1039
15     38       Old Hickory  3.592593           966
16     23         La Vergne  3.141304           898
17     43       Springfield  3.093750           626
18     40     Pleasant View  3.195652           568
19     10    East Nashville  4.000000           557
20      2      Ashland City  3.460000           424
21      4          Bellevue  3.066667           382
22     21           Joelton  3.875000           297
23      5        Berry Hill  4.500000           244
24     22  Kingston Springs  3.388889           209
25     14     Goodletsville  4.000000           192
26     25           Lebanon  2.958333           189
27     32         NASHVILLE  2.700000           161
28     46      Whites Creek  3.625000           141
29      3       Belle Meade  4.000000           139

# New Orleans

In [44]:
biz_new_orleans = food_biz[food_biz['city'] == 'New Orleans']
biz_new_orleans.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,GoodForDancing,BestNights,BYOB,Corkage,BYOBCorkage,AcceptsInsurance,RestaurantsCounterService,Open24Hours,AgesAllowed,DietaryRestrictions
14,w_AMNoI1iG9eay7ncmc67w,River 127,100 Iberville St,New Orleans,LA,70130,29.951359,-90.064672,3.0,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,uczmbBk5O3tYhGue13dCDg,New Orleans Spirit Tours,723 St Peter St,New Orleans,LA,70130,29.958431,-90.065173,4.0,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,YNjyv0gfOr2g8lbmUpTnKg,Copper Vine,1001 Poydras St,New Orleans,LA,70112,29.950647,-90.074427,4.5,350,...,False,"{'monday': False, 'tuesday': False, 'friday': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,TLZ3-eDPLhUzfsWO4ad6Ug,Mahony's Po-Boys & Seafood,901 Iberville St,New Orleans,LA,70112,29.955415,-90.070062,4.0,382,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,hUQ9Z7kQeabvhPOAQOVV1A,Rathbone Mansions,1244 Esplanade Ave,New Orleans,LA,70116,29.967055,-90.065828,3.5,67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
biz_new_orleans.shape

(2699, 51)

In [46]:
reviews_new_orleans = pd.merge(food_reviews, biz_new_orleans[['business_id']], on = 'business_id', how = 'inner')
reviews_new_orleans.head()

,review_id,user_id,business_id,stars,processed_text
0,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,loved tour grabbed groupon price great perfect...
1,GdI6HZ34nn3hM2BSHa8X1Q,bMGflZYLUzyOkbOuqKisQA,gmjsEdUsKpj9Xxu6pdjH0g,5,informative took u haunted place planning see ...
2,GOmxzUrGfC5XGIHfFa0B6Q,ohfjgmu9TiOAur-pVn-zmw,gmjsEdUsKpj9Xxu6pdjH0g,5,tour awesome friend scheduled tour advance gro...
3,cEgUTUvkfUUK7hVCbkxU5Q,YWtt5TPZqGfTKA52cVDa-w,gmjsEdUsKpj9Xxu6pdjH0g,5,chose tour raving review online voodoo bone la...
4,mREBtMW3qRH0vQu23DwNpA,HOzG-IJWXs6C2Lp_Q_RcCw,gmjsEdUsKpj9Xxu6pdjH0g,5,friend went voodoo bone lady infamous city dea...

In [47]:
reviews_new_orleans.shape

(489741, 5)

In [48]:
reviews_new_orleans['processed_text'] = reviews_new_orleans['processed_text'].astype(str)
reviews_new_orleans['sentiment_scores'] = reviews_new_orleans['processed_text'].apply(get_sentiment_scores)
reviews_new_orleans['final_rating'] = reviews_new_orleans['stars'] + reviews_new_orleans['sentiment_scores']

In [50]:
users_new_orleans = pd.merge(res_users, reviews_new_orleans[['user_id']], on='user_id', how='inner')
users_new_orleans = users_new_orleans.drop_duplicates(subset='user_id', keep='first')
users_new_orleans.reset_index(drop=True, inplace=True)

In [51]:
users_new_orleans.shape

(208795, 6)

In [52]:
reviews_new_orleans.to_csv('processed_datasets/new_orleans/reviews_tampa.csv', index = False)
biz_new_orleans.to_csv('processed_datasets/new_orleans/restuarants_tampa.csv', index = False)
users_new_orleans.to_csv('processed_datasets/new_orleans/users_tampa.csv', index = False)

### Creating the Item-User Matrix

In [53]:
reviews_new_orleans.drop(columns = ['stars', 'processed_text','sentiment_scores'], axis = 1, inplace=True)
res_new_orleans = biz_new_orleans[['business_id', 'name', 'stars']]
users_new_orleans.drop(columns = ['review_count', 'friends', 'fans'], axis = 1, inplace = True)

In [54]:
# Merge reviews_philli with users_philli to get user information
merged_df = pd.merge(reviews_new_orleans, users_new_orleans, on='user_id', how='left')

# Merge merged_df with res_philli to get restaurant information
merged_df = pd.merge(merged_df, res_new_orleans, on='business_id', how='left')

# Select relevant columns for the User-Item Ratings matrix
ratings_df = merged_df[['user_id', 'business_id', 'final_rating']]

# Aggregate duplicate entries by taking the mean of the ratings for each combination of user_id and business_id.
ratings_df = ratings_df.groupby(['user_id', 'business_id']).mean().reset_index()

# Pivot the DataFrame to create the User-Item Ratings matrix
ratings_matrix = ratings_df.pivot(index='user_id', columns='business_id', values='final_rating')

ratings_matrix.head()

business_id,--x_BmZbxzK_nx_GHBaRVw,--zb12mw2YK-7j6UaHzm8w,-0__F9fnKt8uioCKztF5Ww,-0ltw8--HLuulPyOSspqAQ,-1XSzguS6XLN-V6MVZMg2A,-4x3pVUUsfWmKEilWKsOZQ,-86Z04IBKxhEQ17rCOkn8g,-9ZNA22YhFlvTdLDYjvNdA,-9yzQQ0d_rcOD2CzdTNO_Q,-A2OLubXDsMRPNN7LqohPA,...,znmW7djuEJjlMI0hw-utEw,zqGEI72ihSB6uipAlE9opQ,zqMftGuxwL8mwQvy2nq9Zg,zr7vspTJPNgxP-j90bc_wg,ztcOE7NN0WdleNOCbje8ng,zvGNZF827KyzLupKiG4Xtw,zwe9H6Xxqb1_E09A20Ptgg,zxIF-bnaJ-eKIsznB7yu7A,zzbZtgPYZS8sTIWQH6DwEw,zznZqH9CiAznbkV6fXyHWA
user_id,,,,,,,,,,,,,,,,,,,,,
---UgP94gokyCDuB5zUssA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--1FFSF8N5TtSfzH7We4NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--1orhUoGFSdHXsoxqQc8g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--3PldvWEZ_bhLNsyrAtgA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--3WaS23LcIXtxyFULJHTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
ratings_matrix.shape

(208796, 2699)

In [56]:
ratings_matrix.to_csv('processed_datasets/new_orleans/ratings_matrix_new_orleans.csv')

# Nashville